{include file='head.tpl.html' title='head'}
    <header class="container-f bg-black">
        {include file='header.tpl.html' title='header'}
    </header>
    <main class="container-f flex flex-col center-hor pos-rel">
        {include file='breadcrumb.tpl.html' title='breadcrumb'}
        <section class="page-header container-f item-padding-20-30 bg-white flex center-hor">

            <div class="page-header__container container-m flex flex-col center-hor gap-20">

                <div class="page-header__content flex flex-col center-hor gap-10">
                    <h1 class="page-header__title section-title text-center bold uppercase">
                        {$h1|default:'Các sản phẩm mà Melody Productionworx đã triển khai'}
                    </h1>
                    {if $description !== ''}
                    <p class="page-header__desc text-center text-color-gray">
                        {$description}
                    </p>
                    {/if}
                </div>
                <div class="page-header__actions flex center-hor gap-20 flex-wrap">
                    <a href="/dich-vu-cua-mpx"
                        class="btn-padding border-radius-5 bold cursor-point btn-outline-primary transition-all">
                        {$messages['service_experience']}
                    </a>
                    <a href="/lien-he"
                        class="btn-padding border-radius-5 bold cursor-point bg-primary text-color-white transition-all">
                        {$messages['contact']}
                    </a>
                </div>

            </div>
        </section>
        <section class="archive-section container-f container-padding bg-white-secondary">
            <div class="container-l flex flex-wrap gap-20">
                <div class="archive-main  flex flex-col gap-20">
                    <!-- <div class="archive-header flex flex-col gap-10">
                        <h1 class="section-title bold uppercase">{$messages['all_case_studies']}</h1>
                        <div class="title-border-bottom"></div>
                    </div> -->
                    {include file='listproductsfromsearch.tpl.html' title='listproductsfromsearch'}
                </div>
                <aside class="archive-sidebar bg-white item-padding-20 border-radius-5 flex flex-col gap-20">
                    {include file='component/sidebar-second.tpl.html' title='sidebar'}
                </aside>
            </div>
        </section>
    </main>
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "CollectionPage",
        "name": "{$categoryObj->getName($lang)}",
        "url": "{$rootUrl}/{$categoryObj->getSlug()}",
        "description": "{$categoryObj->getDescription($lang)}",
        "publisher": {
            "@id": "https://mpx.vn/#organization"
        },
        "mainEntity": {
            "@type": "ItemList",
            "name": "Các dòng sản phẩm {$categoryObj->getName($lang)}",
                "itemListElement": [
                {foreach from=$items item=objectItem name=listItems}
                {
                    "@type": "ListItem",
                    "position": {$smarty.foreach.listItems.iteration},
                    "name": "{$objectItem->getName()|escape:'javascript'}",
                    "url": "{$rootUrl}/{$objectItem->getSlug()}"
                }{if !$smarty.foreach.listItems.last},{/if}
                {/foreach}
                ]
        }
        }
    </script>
    {if $menuObject && $menuObject->getProperty('custom_schema_faq') != ''}
        <script type="application/ld+json">
            {$menuObject->getProperty('custom_schema_faq')}
        </script>
    {/if}
    <footer class="container-f bg-black center-ver flex flex-col item-padding-80-0 gap-30">
        {include file='footer.tpl.html' title='footer'}
    </footer>
    {include file='CTA.tpl.html' title='call to action contact'}
    <div class="btntotop__container pos-fixed bg-white" id="btnToTop">
        {include file='rolltotop.tpl.html' title='rolltotop'}
    </div>
    <div class="popup-register__container pos-fixed z-index-2 center-ver center-hor container-f">
        {include file='popup.tpl.html' title='popup'}
    </div>
    {include file='script.tpl.html' title='script'}
</body>

</html>