<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPX VN | Trang chủ</title>
    <link rel="icon" type="image/png" href="./img/logo/logo-favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preload" as="image" href="./img/banner/banner-home.webp">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- <link rel="stylesheet" href="../css/style.min.css"> -->
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/custom.css">
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" href="./css/utility.css">
</head>

<body>
    <header class="container-f bg-black" data-include="./component/header.html"></header>
    <main class="container-f flex flex-col center-hor pos-rel">
        <section class="container-f swiper slide-container">
            <div class=" swiper-wrapper">
                <div class="swiper-slide ">
                    <div class="home-banner__container container-f flex pos-rel center-hor">
                        <div class="container-l home-banner__content flex flex-col gap-20 center-hor z-index-3">
                            <h2 class="home-banner__title text-color-white bold">Giải pháp kỹ thuật cho sự kiện - triển
                                lãm - quảng cáo hiện đại</h2>
                            <p class="text-color-white home-banner__desc">Chuyên cung cấp các hệ thống sân khấu, giàn
                                truss, gian hàng triển lãm, hộp đèn quảng cáo
                                và giải pháp trưng bày sáng tạo với công nghệ mô-đun, kỹ thuật cơ khí chính xác và tiêu
                                chuẩn quốc tế.</p>
                            <div class="home-banner__function flex flex-wrap gap-20">
                                <div
                                    class="btn-padding text-color-white border-radius-5 cursor-pointer home-banner__btn bg-primary uppercase flex gap-20 un-wrap">
                                    khám phá giải pháp MPX →</div>
                                <div
                                    class="btn-padding text-color-white border-radius-5 cursor-pointer home-banner__btn bg-primary uppercase  un-wrap">
                                    Liên hệ tư vấn</div>
                            </div>
                        </div>
                        <div class="home-banner__blending pos-abs z-index-1">
                            <img class="img-content" src="./img/banner-blending/Background.png" alt="">
                        </div>
                        <div class="home-banner__background pos-abs z-index-minus-1">
                            <img class="img-content" src="./img/banner/banner-home.webp" alt="Banner 1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination custom-dots"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </section>
        <section class="services-section bg-white-secondary container-f container-padding flex center-hor">
            <div class="container-l flex flex-col gap-20">
                <h1 class="section-title text-center bold uppercase">Dịch vụ chuyên nghiệp</h1>
                <p class="text-center">Demo: chuyên cung cấp các hệ thống sân khấu, giàn truss, gian hàng triễn lảm, hộp
                    đèn quảng cáo và
                    giải pháp trưng
                    bày sáng tạo với công nghệ module, kỹ thuật cơ khí chính xác và tiêu chuẩn quốc tế</p>
                <div class="service-slider-wrapper pos-rel">

                    <div class="swiper-button-prev custom-prev-btn"></div>
                    <div class="swiper-button-next custom-next-btn"></div>

                    <div class="service-list fill-view swiper">
                        <div class="swiper-wrapper">

                            <article class="swiper-slide">
                                <div
                                    class="service-item__content border-radius-5 gap-20 bg-white jus-sb flex flex-col pos-rel item-padding-30 fill-view center-ver center-hor">
                                    <div class="icon-box-sm ">
                                        <img src="./img/icon/click-icon.svg" alt="SEO Icon" class="icon-img">
                                    </div>
                                    <div class="service-content flex flex-col gap-10 flex-1">
                                        <h3 class="service-name text-center bold fill-view">
                                            SEO Tổng thể & AI SEO
                                        </h3>
                                        <p class="service-text text-center fill-view clamp-text">
                                            Giải pháp SEO toàn diện từ các phương pháp Evergreen SEO đến chiến lược AI
                                            SEO
                                            tiên tiến, tối ưu cho Google AI Mode và AI Search (SearchGPT,
                                            Perplexity,...).
                                            Chuyển hóa website thành cỗ máy thu hút khách hàng tự động cho cả thị trường
                                            Việt Nam và Quốc tế (US, EU, Canada, AU). Tối ưu toàn diện với Content
                                            Engin...
                                        </p>

                                        <ul class="check-list clamp-textfill-view">
                                            <li>Chiến lược SEO AI</li>
                                            <li>Tối ưu GEO (Generative Engine Optimization)</li>
                                            <li>Content Engine đa ngôn ngữ</li>
                                            <li>International Technical SEO</li>
                                            <li>.....</li>
                                        </ul>
                                    </div>
                                    <a href="javascript:void(0)" class="pos-abs cover-all"
                                        aria-label="SEO Tổng thể"></a>
                                    <button
                                        class="btn-padding text-color-white border-radius-5 cursor-point home-banner__btn bg-primary uppercase flex gap-20 un-wrap">TÌM
                                        HIỂU THÊM →</button>
                                </div>
                            </article>
                            <article class="swiper-slide">
                                <div
                                    class="service-item__content border-radius-5 gap-20 bg-white jus-sb flex flex-col pos-rel item-padding-30 fill-view center-ver center-hor">
                                    <div class="icon-box-sm">
                                        <img src="./img/icon/arrow-pointer.svg" alt="Inbound Marketing Icon"
                                            class="icon-img">
                                    </div>
                                    <div class="service-content flex flex-col gap-10 flex-1">
                                        <h3 class="service-name text-center bold fill-view">
                                            AI SEO Driven Inbound Marketing
                                        </h3>
                                        <p class="service-text text-center fill-view clamp-text">
                                            Chiến lược tích hợp toàn diện: AI SEO, Content Marketing đa thị trường,
                                            Email
                                            Marketing cá nhân hóa, Remarketing thông minh, Paid Ads và Conversion
                                            Optimization. Xây dựng hệ thống tự động thu hút và nuôi dưỡng khách hàng
                                            tiềm
                                            năng xuyên suốt hành trình.
                                        </p>

                                        <ul class="check-list clamp-textfill-view">
                                            <li>Email Marketing AI</li>
                                            <li>Remarketing & Paid Ads</li>
                                            <li>Conversion AI (UX Optimization, Landing Page, Form Optimization)</li>
                                            <li>.....</li>
                                        </ul>
                                    </div>
                                    <a href="javascript:void(0)" class="pos-abs cover-all"
                                        aria-label="AI SEO Driven Inbound Marketing"></a>
                                    <button
                                        class="btn-padding text-color-white border-radius-5 cursor-point home-banner__btn bg-primary uppercase flex gap-20 un-wrap">TÌM
                                        HIỂU THÊM →</button>
                                </div>
                            </article>
                            <article class="swiper-slide">
                                <div
                                    class="service-item__content border-radius-5 gap-20 bg-white jus-sb flex flex-col pos-rel item-padding-30 fill-view center-ver center-hor">
                                    <div class="icon-box-sm">
                                        <img src="./img/icon/code.svg" alt="Tư vấn Đào tạo AI Icon" class="icon-img">
                                    </div>
                                    <div class="service-content flex flex-col gap-10 flex-1">
                                        <h3 class="service-name text-center bold fill-view">
                                            Dịch vụ Tư vấn & Đào tạo AI SEO
                                        </h3>
                                        <p class="service-text text-center fill-view clamp-text">
                                            Đào tạo đội ngũ in-house và chuyển giao quy trình SEO & AI SEO hoàn chỉnh.
                                            Xây
                                            dựng chiến lược SEO bền vững trong kỷ nguyên AI Search, giúp doanh nghiệp tự
                                            chủ
                                            trong việc mở rộng thị trường quốc tế.
                                        </p>

                                        <ul class="check-list clamp-textfill-view">
                                            <li>AI SEO Audit & Strategy</li>
                                            <li>Đào tạo đội ngũ in-house</li>
                                            <li>Chuyển giao quy trình & Template</li>
                                            <li>Giám sát & Tối ưu</li>
                                            <li>.....</li>
                                        </ul>
                                    </div>
                                    <a href="javascript:void(0)" class="pos-abs cover-all"
                                        aria-label="Dịch vụ Tư vấn & Đào tạo AI SEO"></a>
                                    <button
                                        class="btn-padding text-color-white border-radius-5 cursor-point home-banner__btn bg-primary uppercase flex gap-20 un-wrap">TÌM
                                        HIỂU THÊM →</button>
                                </div>
                            </article>
                            <article class="swiper-slide">
                                <div
                                    class="service-item__content border-radius-5 gap-20 bg-white jus-sb flex flex-col pos-rel item-padding-30 fill-view center-ver center-hor">
                                    <div class="icon-box-sm ">
                                        <img src="./img/icon/click-icon.svg" alt="SEO Icon" class="icon-img">
                                    </div>
                                    <div class="service-content flex flex-col gap-10 flex-1">
                                        <h3 class="service-name text-center bold fill-view">
                                            SEO Tổng thể & AI SEO
                                        </h3>
                                        <p class="service-text text-center fill-view clamp-text">
                                            Giải pháp SEO toàn diện từ các phương pháp Evergreen SEO đến chiến lược AI
                                            SEO
                                            tiên tiến, tối ưu cho Google AI Mode và AI Search (SearchGPT,
                                            Perplexity,...).
                                            Chuyển hóa website thành cỗ máy thu hút khách hàng tự động cho cả thị trường
                                            Việt Nam và Quốc tế (US, EU, Canada, AU). Tối ưu toàn diện với Content
                                            Engin...
                                        </p>

                                        <ul class="check-list clamp-textfill-view">
                                            <li>Chiến lược SEO AI</li>
                                            <li>Tối ưu GEO (Generative Engine Optimization)</li>
                                            <li>Content Engine đa ngôn ngữ</li>
                                            <li>International Technical SEO</li>
                                            <li>.....</li>
                                        </ul>
                                    </div>
                                    <a href="javascript:void(0)" class="pos-abs cover-all"
                                        aria-label="SEO Tổng thể"></a>
                                    <button
                                        class="btn-padding text-color-white border-radius-5 cursor-point home-banner__btn bg-primary uppercase flex gap-20 un-wrap">TÌM
                                        HIỂU THÊM →</button>
                                </div>
                            </article>
                            <article class="swiper-slide">
                                <div
                                    class="service-item__content border-radius-5 gap-20 bg-white jus-sb flex flex-col pos-rel item-padding-30 fill-view center-ver center-hor">
                                    <div class="icon-box-sm">
                                        <img src="./img/icon/arrow-pointer.svg" alt="Inbound Marketing Icon"
                                            class="icon-img">
                                    </div>
                                    <div class="service-content flex flex-col gap-10 flex-1">
                                        <h3 class="service-name text-center bold fill-view">
                                            AI SEO Driven Inbound Marketing
                                        </h3>
                                        <p class="service-text text-center fill-view clamp-text">
                                            Chiến lược tích hợp toàn diện: AI SEO, Content Marketing đa thị trường,
                                            Email
                                            Marketing cá nhân hóa, Remarketing thông minh, Paid Ads và Conversion
                                            Optimization. Xây dựng hệ thống tự động thu hút và nuôi dưỡng khách hàng
                                            tiềm
                                            năng xuyên suốt hành trình.
                                        </p>

                                        <ul class="check-list clamp-textfill-view">
                                            <li>Email Marketing AI</li>
                                            <li>Remarketing & Paid Ads</li>
                                            <li>Conversion AI (UX Optimization, Landing Page, Form Optimization)</li>
                                            <li>.....</li>
                                        </ul>
                                    </div>
                                    <a href="javascript:void(0)" class="pos-abs cover-all"
                                        aria-label="AI SEO Driven Inbound Marketing"></a>
                                    <button
                                        class="btn-padding text-color-white border-radius-5 cursor-point home-banner__btn bg-primary uppercase flex gap-20 un-wrap">TÌM
                                        HIỂU THÊM →</button>
                                </div>
                            </article>
                            <article class="swiper-slide">
                                <div
                                    class="service-item__content border-radius-5 gap-20 bg-white jus-sb flex flex-col pos-rel item-padding-30 fill-view center-ver center-hor">
                                    <div class="icon-box-sm">
                                        <img src="./img/icon/code.svg" alt="Tư vấn Đào tạo AI Icon" class="icon-img">
                                    </div>
                                    <div class="service-content flex flex-col gap-10 flex-1">
                                        <h3 class="service-name text-center bold fill-view">
                                            Dịch vụ Tư vấn & Đào tạo AI SEO
                                        </h3>
                                        <p class="service-text text-center fill-view clamp-text">
                                            Đào tạo đội ngũ in-house và chuyển giao quy trình SEO & AI SEO hoàn chỉnh.
                                            Xây
                                            dựng chiến lược SEO bền vững trong kỷ nguyên AI Search, giúp doanh nghiệp tự
                                            chủ
                                            trong việc mở rộng thị trường quốc tế.
                                        </p>

                                        <ul class="check-list clamp-textfill-view">
                                            <li>AI SEO Audit & Strategy</li>
                                            <li>Đào tạo đội ngũ in-house</li>
                                            <li>Chuyển giao quy trình & Template</li>
                                            <li>Giám sát & Tối ưu</li>
                                            <li>.....</li>
                                        </ul>
                                    </div>
                                    <a href="javascript:void(0)" class="pos-abs cover-all"
                                        aria-label="Dịch vụ Tư vấn & Đào tạo AI SEO"></a>
                                    <button
                                        class="btn-padding text-color-white border-radius-5 cursor-point home-banner__btn bg-primary uppercase flex gap-20 un-wrap">TÌM
                                        HIỂU THÊM →</button>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
        </section>
        <section class="container-f container-padding flex center-hor bg-achievement pos-rel">
            <div class="container-l achievement-content flex flex-col gap-30 center-hor pos-rel z-index-2">
                <div class="achievement-header flex flex-col gap-10 center-hor">
                    <h2 class="section-title achievement-title text-center text-color-white bold uppercase">
                        Thành tựu nổi bật của MPX
                    </h2>
                    <p class="achievement-desc text-center text-color-white">
                        Demo: chuyên cung cấp các hệ thống sân khấu, giàn truss, gian hàng triễn lảm, hộp đèn quảng cáo
                        và giải pháp trưng bày sáng tạo với công nghệ module, kỹ thuật cơ khí chính xác và tiêu chuẩn
                        quốc tế
                    </p>
                </div>
                <div
                    class="bg-white achievement-stats-box border-radius-5 padding-20 flex flex-wrap jus-sb gap-20 center-ver">
                    <div class="stat-item item-padding-40 col-4 flex flex-col center-hor center-ver gap-10">
                        <p class="stat-value bold">12</p>
                        <p class="stat-label uppercase">Năm thành lập</p>
                    </div>
                    <div class="stat-item item-padding-40 col-4 flex flex-col center-hor center-ver gap-10">
                        <p class="stat-value bold">20+</p>
                        <p class="stat-label uppercase">Sự kiện/Tháng</p>
                    </div>
                    <div class="stat-item item-padding-40 col-4 flex flex-col center-hor center-ver gap-10">
                        <p class="stat-value bold">200+</p>
                        <p class="stat-label uppercase">Nhân sự chuyên môn</p>
                    </div>
                    <div class="stat-item item-padding-40 col-4 flex flex-col center-hor center-ver gap-10">
                        <p class="stat-value bold">20,000m²</p>
                        <p class="stat-label uppercase">Diện tích nhà máy</p>
                    </div>
                </div>
            </div>
            <div class="home-banner__blending pos-abs z-index-1">
                <img class="img-content" src="./img/banner-blending/Background.png" alt="">
            </div>
            <div class="home-banner__background pos-abs z-index-minus-1">
                <img class="img-content" src="./img/banner/banner-home.webp" alt="Banner 1">
            </div>
        </section>
        <section class="container-f container-padding flex center-hor bg-white-secondary">
            <div class="container-l flex flex-col gap-30">
                <div class="flex flex-col gap-10 center-hor">
                    <h2 class="section-title text-center bold uppercase">Các dự án tiêu biểu của MPX</h2>
                    <p class="text-center">Demo: chuyên cung cấp các hệ thống sân khấu, giàn truss, gian hàng triển
                        lãm...</p>
                </div>
                <div class="project-slider-wrapper pos-rel">

                    <div class="swiper-button-prev custom-prev-btn"></div>
                    <div class="swiper-button-next custom-next-btn"></div>

                    <div class="project-swiper fill-view swiper">
                        <div class="swiper-wrapper">
                            <article class="swiper-slide">
                                <div class="project-item bg-white flex flex-col pos-rel border-radius-5">
                                    <div class="project-item__img ">
                                        <img src="./img/news/news.jpg" alt="Project" class="img-content">
                                    </div>
                                    <div class="project-item__content item-padding-20 flex flex-col gap-10">
                                        <h3 class="bold uppercase">MPX ECO-FLOOR LITE (INDOOR EVENTS)</h3>
                                        <p class="clamp-text">Demo: chuyên cung cấp các hệ thống sân
                                            khấu, giàn truss, gian hàng triễn lảm, hộp đèn quảng cáo và giải pháp trưng
                                            bày sáng tạo với công nghệ module, kỹ thuật cơ khí chính xác và tiêu chuẩn
                                            quốc
                                            tế</p>
                                        <button
                                            class="project-btn btn-padding border-radius-5 cursor-point home-banner__btn bg-primary uppercase flex gap-20 un-wrap">
                                            <p class="text-color-white">Xem chi tiết</p>
                                            <p class="text-color-white">➔</p>
                                        </button>
                                    </div>
                                    <a href="javascript:void(0)" class="pos-abs cover-all" aria-label="các dự án"></a>
                                </div>
                            </article>
                        </div>

                        <div class="swiper-pagination custom-dots"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-f container-padding flex center-hor bg-white-secondary">
            <div class="container-l flex flex-col gap-30">
                <div class="container-m flex flex-col gap-10 center-hor">
                    <h2 class="section-title text-center bold uppercase">Khách hàng tiểu biểu của mpx</h2>
                    <p class="text-center">Demo: chuyên cung cấp các hệ thống sân khấu, giàn truss, gian hàng triễn lảm,
                        hộp đèn quảng cáo và giải pháp trưng
                        bày sáng tạo với công nghệ module, kỹ thuật cơ khí chính xác và tiêu chuẩn quốc tế</p>
                </div>
                <div class="logo-brand-wrapper pos-rel">

                    <div class="swiper-button-prev custom-prev-btn"></div>
                    <div class="swiper-button-next custom-next-btn"></div>

                    <div class="logo-brand__swiper fill-view swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/sapo.png" alt="sapo">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/viettiles.png" alt="viettiles">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/megamed.png" alt="megamed">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/samcovina.png" alt="samcovina">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/vinhgia.png" alt="vinhgia">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/office.png" alt="office">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/catuong.png" alt="catuong">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/vietmoney.png" alt="vietmoney">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/insee.png" alt="insee">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/generali.png" alt="generali">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/bambo.png" alt="bambo">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/apolat.png" alt="apolat">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/pops.png" alt="pops">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/toto.png" alt="toto">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="logo-brand__item padding-10 pos-rel">
                                    <img class="img-content" src="./img/brand/vinamilk.png" alt="vinamilk">
                                    <a class="pos-abs cover-all" href="javascript:void(0)"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination custom-dots"></div>
                    </div>

                </div>
            </div>
        </section>
        <section class="container-f container-padding flex center-hor bg-black">
            <div class="container-l flex flex-col gap-30">
                <div class=" flex flex-col gap-10 center-hor z-index-2 guest-comment__title">
                    <h2 class="section-title bold uppercase text-color-white">khách hàng ấn tượng gì về MPX</h2>
                    <div class="title-border-bottom"></div>
                </div>
                <div class="guest-comment__wrapper pos-rel">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="guest-comment__swiper fill-view swiper z-index-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div
                                    class="guest-comment__item item-padding-20 border-radius-5 flex flex-col pos-rel bg-white gap-10">
                                    <div class="guest-comment__icon">
                                        <img src="./img/icon/note.svg" class="ing-content" alt="">
                                    </div>
                                    <div class="guest-comment__content flex-col flex gap-10">
                                        <b class="capitalize">anh đã làm việc với nhiều agency cũng như</b>
                                        <p class="clamp-text guest-desc">Cá nhân thì thấy được sự chuyên nghiệp, kế bên
                                            chuyện là họ rất nhiệt tình trong việc hỗ trợ</p>
                                        <p class="text-right">Xem thêm ▸</p>
                                    </div>
                                    <div class="flex gap-10">
                                        <div class="rate-star pos-rel">
                                            <img src="./img/icon/star-gray.svg" class="fill-view img-content" alt="">
                                            <img src="./img/icon/star-yellow.svg"
                                                class="fill-view pos-abs star-active img-content" alt="">
                                        </div>
                                        <div class="rate-star pos-rel">
                                            <img src="./img/icon/star-gray.svg" class="fill-view img-content" alt="">
                                            <img src="./img/icon/star-yellow.svg"
                                                class="fill-view pos-abs star-active img-content" alt="">
                                        </div>
                                        <div class="rate-star pos-rel">
                                            <img src="./img/icon/star-gray.svg" class="fill-view img-content" alt="">
                                            <img src="./img/icon/star-yellow.svg"
                                                class="fill-view pos-abs star-active img-content" alt="">
                                        </div>
                                        <div class="rate-star pos-rel">
                                            <img src="./img/icon/star-gray.svg" class="fill-view img-content" alt="">
                                            <img src="./img/icon/star-yellow.svg"
                                                class="fill-view pos-abs star-active img-content" alt="">
                                        </div>
                                        <div class="rate-star pos-rel">
                                            <img src="./img/icon/star-gray.svg" class="fill-view img-content" alt="">
                                            <img src="./img/icon/star-yellow.svg"
                                                class="fill-view pos-abs star-active img-content" alt="">
                                        </div>
                                    </div>
                                    <div class="user-container flex gap-10 center-ver">
                                        <div class="user-avatar bg-primary item-padding-10 flex center-ver center-hor">
                                            <img src="./img/icon/user.svg" alt="">
                                        </div>
                                        <div class="user-info flex flex-col">
                                            <b class="capitalize">Mr. Tạ Luân</b>
                                            <p class="capitalize">quản lý marketing</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="home-banner__blending pos-abs z-index-1">
                    <img class="img-content" src="./img/banner-blending/Background.png" alt="">
                </div>
                <div class="home-banner__background pos-abs z-index-minus-1">
                    <img class="img-content" src="./img/banner/banner-home.webp" alt="Banner 1">
                </div>
            </div>
        </section>
        <section class="container-f container-padding bg-white">
            <div class="container-l flex flex-wrap gap-20">

                <div class="contact-section__container  item-padding-40 flex flex-col gap-30 border-radius-10">
                    <div class="flex flex-col gap-10">
                        <h2 class="uppercase bold">Có bất kỳ câu hỏi</h2>
                        <div class="title-border-bottom"></div>
                    </div>

                    <div class="flex flex-col gap-20">
                        <div class="custom-item__low item-padding-20 flex center-ver gap-20 border-radius-10">
                            <div class="icon-box-50">
                                <img src="./img/icon/phone-icon.svg" class="img-icon" alt="Phone">
                            </div>
                            <div class="flex flex-col">
                                <span class="text-color-deactive text-sm">Gọi ngay cho chúng tôi</span>
                                <span class="bold">(+84) 94 2710025</span>
                            </div>
                        </div>

                        <div class="custom-item__low item-padding-20 flex center-ver gap-20 border-radius-10">
                            <div class="icon-box-50">
                                <img src="./img/icon/mail-icon.svg" class="img-icon" alt="Email">
                            </div>
                            <div class="flex flex-col">
                                <span class="text-color-deactive text-sm">Email Cho Chúng Tôi 24/7</span>
                                <span class="bold">info@mpx.com</span>
                            </div>
                        </div>

                        <div class="custom-item__low item-padding-20 flex center-ver gap-20 border-radius-10">
                            <div class="icon-box-50">
                                <img src="./img/icon/map-icon.svg" class="img-icon" alt="Map">
                            </div>
                            <div class="flex flex-col">
                                <span class="text-color-deactive text-sm">Địa Chỉ Trung Tâm</span>
                                <span class="bold">B8/255E, Ấp 2, Xã Phong Phú, Huyện Bình Chánh, TP.HCM, Việt
                                    Nam</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="contact-section__container contact-form__background item-padding-40 bg-white-secondary border-radius-10">
                    <form class="flex flex-col gap-20 js-validate-form">
                        <div class="flex flex-col gap-10">
                            <span class="text-color-deactive italic text-sm">Liên hệ</span>
                            <h2 class="uppercase bold">Liên hệ với chúng tôi</h2>
                            <div class="title-border-bottom"></div>
                        </div>

                        <div class="flex flex-wrap gap-20">
                            <div class="flex-1 flex flex-col gap-10 form-group">
                                <label class="bold">Họ và tên</label>
                                <input type="text" placeholder="John Architect" required data-msg="Vui lòng nhập họ tên"
                                    class="item-padding-10-20 border-radius-5 bg-white border-none fill-view">
                                <span class="error-msg text-red text-xs"></span>
                            </div>
                            <div class="flex-1 flex flex-col gap-10 form-group">
                                <label class="bold">Email</label>
                                <input type="email" placeholder="name@architect.core" required
                                    class="item-padding-10-20 border-radius-5 bg-white border-none fill-view">
                                <span class="error-msg text-red text-xs"></span>
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-20">
                            <div class="flex-1 flex flex-col gap-10 form-group">
                                <label class="bold">Số điện thoại</label>
                                <input type="text" placeholder="Số điện thoại" required pattern="^[0-9]{10,11}$"
                                    data-msg="SĐT phải có 10-11 số"
                                    class="item-padding-10-20 border-radius-5 bg-white border-none fill-view">
                                <span class="error-msg text-red text-xs"></span>
                            </div>
                            <div class="flex-1 flex flex-col gap-10 form-group">
                                <label class="bold">Địa chỉ</label>
                                <input type="text" placeholder="Địa chỉ" required
                                    class="item-padding-10-20 border-radius-5 bg-white border-none fill-view">
                                <span class="error-msg text-red text-xs"></span>
                            </div>
                        </div>

                        <div class="flex flex-col gap-10 form-group">
                            <label class="bold">Nội dung</label>
                            <textarea rows="4" required minlength="10" data-msg="Nội dung phải ít nhất 10 ký tự"
                                class="item-padding-10-20 border-radius-5 bg-white border-none fill-view"></textarea>
                            <span class="error-msg text-red text-xs"></span>
                        </div>

                        <div class="flex flex-col gap-10 form-group">
                            <label class="bold">Mã bảo mật</label>
                            <input type="text" required
                                class="item-padding-10-20 border-radius-5 bg-white border-none fill-view">
                            <span class="error-msg text-red text-xs"></span>
                        </div>

                        <button type="submit"
                            class="bg-primary text-color-white border-radius-5 bold uppercase cursor-pointer btn-submit-large border-none">
                            Gửi tin nhắn &nbsp; →
                        </button>
                    </form>
                </div>

            </div>
        </section>
        <section class="container-f container-padding news-background flex center-hor bg-white-secondary">
            <div class="container-l flex flex-col gap-30">
                <div class=" flex flex-col center-hor z-index-2 guest-comment__title">
                    <p class="text-color-white">Bài viết và blog</p>
                    <h2 class="section-title bold uppercase text-color-white">Bài viết gần đây</h2>
                    <div class="title-border-bottom"></div>
                </div>
                <div class="news-slider-wrapper pos-rel">
                    <div class="swiper-button-prev custom-prev-btn"></div>
                    <div class="swiper-button-next custom-next-btn"></div>
                    <div class="news-swiper fill-view swiper">
                        <div class="swiper-wrapper">
                            <article class="swiper-slide">
                                <div class="news-item bg-white flex flex-col pos-rel border-radius-5 shadow-sm">
                                    <div class="news-item__img">
                                        <img src="./img/news/news.jpg" alt="Tin tức MPX" class="img-content">
                                    </div>
                                    <div class="news-item__content item-padding-20 flex flex-col gap-10">
                                        <div class="flex gap-20">
                                            <div class="news-item__date flex gap-10">
                                                <img class="img-icon" src="./img/icon/clock.svg" alt="">
                                                <p>17/4/2026</p>
                                            </div>
                                            <div class="news-item__view flex gap-10">
                                                <img class="img-icon" src="./img/icon/eye.svg" alt="">
                                                <p>500</p>
                                            </div>
                                        </div>
                                        <h4 class="news-item__title clamp-text bold uppercase">Đổi Mới Vận Hành Sân Khấu
                                            – Khi Công Nghệ Gặp Nghệ Thuật</h4>
                                        <p class="news-item__desc clamp-text">
                                            MPX ModuWall là hệ hộp đèn module kết nối – cho phép tạo thành vách tường
                                            lớn booth triển lãm khu trưng bày ánh sáng bằng cách lắp ráp nhiều khung hộp
                                            đèn lại với nhau. Tối ưu cho không gian branding quy mô lớn, dễ tháo lắp –
                                            phù hợp với doanh nghiệp cần setup nhanh và thay đổi linh hoạt theo từng sự
                                            kiện..
                                        </p>
                                        <button
                                            class="news-btn btn-padding flex gap-5 center-hor center-ver text-color-white border-radius-5 cursor-point bg-primary uppercase flex gap-10 center-ver un-wrap">
                                            <p class="text-color-white">Xem chi tiết</p>
                                            <p class="text-color-white">➔</p>
                                        </button>
                                    </div>
                                    <a href="javascript:void(0)" class="pos-abs cover-all" aria-label="Xem tin tức"></a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="container-f bg-black center-ver flex flex-col item-padding-80-0 gap-30"
        data-include="./component/footer.html"></footer>
    <div class="btntotop__container pos-fixed bg-white" data-include="./component/rolltotop.html" id="btnToTop">
    </div>
    <div class="popup-register__container pos-fixed z-index-2 center-ver center-hor container-f" data-include="./component/popup.html"></div>
    <script defer type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script defer type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script defer type="text/javascript" src="./js/frontend.js"></script>
</body>

</html>