<script src="https://www.google.com/recaptcha/api.js"></script>
<script defer type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script defer type="text/javascript" src="/{$templatePath}/{$userTemplate}/js/frontend.js"></script>

<script defer type="text/javascript" src="/{$templatePath}/{$userTemplate}/js/templates/sidebar.js"></script>
<script defer type="text/javascript" src="/{$templatePath}/{$userTemplate}/js/component/comment.js"></script>
<script defer type="text/javascript" src="/{$templatePath}/{$userTemplate}/js/component/popup-comment.js"></script>