{include file='head.tpl.html' title='head'}
    <header class="container-f bg-black z-index-5">
        {include file='header.tpl.html' title='header'}
    </header>
    <main class="container-f flex flex-col center-hor pos-rel">
        {include file='breadcrumb.tpl.html' title='breadcrumb'}
        {if $bannerDesktop}
            {assign var=bannerD value=$bannerDesktop->getAvatarImage($uploads)}
            {if $bannerD}
            <section class="container-f swiper js-slider-wrapper">
                <div class="container-f js-slider-banner js-slider-ratio overflow-hidden">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide ">
                            <div class="overflow-hidden fill-view pos-rel">
                                <picture>
                                    <source media="(min-width: 1024px)"
                                        srcset="/{$bannerD->getPath()}/{$bannerD->getUrlO()}">
                                    {if $bannerMobile}
                                        {assign var=bannerM value=$bannerMobile->getAvatarImage($uploads)}
                                        {if $bannerM}
                                        <source media="(max-width: 768px)"
                                            srcset="{$bannerM->getPath()}/{$bannerM->getUrlO()}">
                                        {/if}
                                    {/if}
                                    <img class="img-content" src="/{$bannerD->getPath()}/{$bannerD->getUrlO()}"
                                        alt="{$bannerDesktop->getName()}">
                                </picture>
                                <a href="javascript:void(0)" class="pos-abs cover-all z-index-2" aria-label="Banner"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {/if}
        {/if}
        {if $serviceMPXblock && $serviceMPXblock->getDetail($lang) != ''}
        <section class="container-f container-padding flex center-hor bg-white mpx-services">
            {$serviceMPXblock->getDetail($lang)}
        </section>
        {/if}
        {if $mpxDeploymentCapabilitiesBlock && $mpxDeploymentCapabilitiesBlock->getDetail($lang) != ''}
        <section class="container-f container-padding flex center-hor bg-black mpx-capabilities">
            {$mpxDeploymentCapabilitiesBlock->getDetail($lang)}
        </section>
        {/if}
        {if $mpxProductCategoriesBlock && $mpxProductCategoriesBlock->getDetail($lang) != ''}
        <section class="container-f container-padding flex center-hor bg-white-secondary mpx-categories">
            {$mpxProductCategoriesBlock->getDetail($lang)}
        </section>
        {/if}
        {if $deploymentProcessBlock && $deploymentProcessBlock->getDetail($lang) != ''}
        <section class="container-f container-padding flex center-hor bg-black expo-process hidden-section show-up">
            {$deploymentProcessBlock->getDetail($lang)}
        </section>
        {/if}
        {if $galleryBlock && $galleryBlock->getDetail($lang) != ''}
        <section class="container-f container-padding flex center-hor bg-white expo-stages">
            {$galleryBlock->getDetail($lang)}
        </section>
        {/if}
        <section class="container-f container-padding flex center-hor bg-white-secondary expo-projects">
            {include file='component/expo-projects.tpl.html' title='footer'}
        </section>
        {if $technologies}
        <section class="container-f container-padding flex center-hor bg-white-secondary expo-equipment">
            <div class="container-l flex flex-col gap-30 fill-view">
                <div class="flex flex-col gap-10 center-hor">
                    <h2 class="section-title text-center bold uppercase text-color-black">{$messages['technology_title']}</h2>
                    </h2>
                    <div class="title-border-bottom fill-view"></div>
                </div>
                <div class="js-slider-wrapper pos-rel expo-equipment-slider">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="expo-equipment__swiper js-slider-6cols fill-view swiper">
                        <div class="swiper-wrapper">
                            {foreach from=$technologies item=technology}
                            <article class="swiper-slide col-6">
                                <div class="fill-height hover-border-primary flex-1 expo-equip-card bg-white flex flex-col center-ver text-center border-radius-5 item-padding-20 gap-15 custom-item__low">
                                    <div class="expo-equip-card__img" item-padding-10>
                                        {assign var=avatar value=$technology->getAvatarImage($uploads)}
                                        {if $avatar}
                                        <img src="/{$avatar->getPath()}/{$avatar->getUrlM()}" alt="{$technology->getName($lang)}" class="img-icon">
                                        {else}
                                        <img src="/templates/mpx/img/logo/no-image.webp" alt="No image" class="img-icon">
                                        {/if}
                                    </div>
                                    <div class="flex flex-col gap-5">
                                        <h3 class="bold uppercase text-color-black text-sm clamp-text">{$technology->getName($lang)}</h3>
                                        <p class="text-xs text-color-deactive clamp-text">{$technology->getDescription($lang)|strip_tags}</p>
                                    </div>
                                    <a href="{$technology->getUrl($lang)}" class="pos-abs cover-all z-index-2"></a>
                                </div>
                            </article>
                            {/foreach}
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        {/if}
        {if $faqBlock && $faqBlock->getDetail($lang) != ''}
        <section class="container-f container-padding flex center-hor bg-white expo-faq">
            {$faqBlock->getDetail($lang)}
        </section>
        {/if}
        {if $contactBlock && $contactBlock->getDetail($lang) != ''}
        <section class="container-f flex center-hor pos-rel advise-section__container">
            {$contactBlock->getDetail($lang)}
        </section>
        {/if}
    </main>
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Service",
        "name": "Dịch vụ kỹ thuật sân khấu và triển lãm MPX",
        "url": "{$rootUrl}{$serviceMenu->getUrl()}",
        "description": "{$serviceMenu->getProperty('custom_sapo')}",
        "provider": {
            "@id": "{$rootUrl}/#organization"
        },
        "areaServed": "VN",
        "hasOfferCatalog": {
            "@type": "OfferCatalog",
            "name": "Danh mục dịch vụ cốt lõi của MPX",
             "itemListElement": [
                    {foreach from=$childServiceMenu item=child name=services}
                    {
                        "@type": "Offer",
                        "itemOffered": {
                            "@type": "Service",
                            "name": "{$child->getName()}",
                            "url": "{$rootUrl}{$child->getUrl()}"
                        }
                    }{if !$smarty.foreach.services.last},{/if}
                    {/foreach}
                ]
        }
        }
    </script>
    {if $serviceMenu->getProperty('custom_schema_faq') != ''}
        <script type="application/ld+json">
            {$serviceMenu->getProperty('custom_schema_faq')}
        </script>
    {/if}
    <footer class="container-f bg-black center-ver flex flex-col item-padding-80-0 gap-30">
        {include file='footer.tpl.html' title='footer'}
    </footer>
    {include file='CTA.tpl.html' title='call to action contact'}
    <div class="btntotop__container pos-fixed bg-white" id="btnToTop">
        {include file='rolltotop.tpl.html' title='rolltotop'}
    </div>
    <div class="popup-register__container pos-fixed z-index-2 center-ver center-hor container-f">
        {include file='popup.tpl.html' title='popup'}
    </div>
    {include file='script.tpl.html' title='script'}
</body>

</html>
