<div class="formContent">
  <form action="/{$aScript}" method="post" name="formAdd" id="formAdd" enctype="multipart/form-data">
    <fieldset>
      <h1>Hình ảnh.</h1>
      <p><label for="avatar"> Hình 1</label>
        <input type="file" name="avatarvaria1" id="avatar" size="25" maxlength="255" /> <strong
          style="margin-left:20px;">Biến (avatarvaria1)</strong><br /><br />
      </p>
      {if $estore->getProperty('avatarvaria1')}
      <p>
      <div class="listPhoto">
        <ul>
          <li>
            <a href="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlFromId({$estore->getProperty('avatarvaria1')})}"
              target="_blank"><img
                src="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlAFromId({$estore->getProperty('avatarvaria1')})}"
                width="100"  height="100" /></a>
          </li>
        </ul>
      </div>
      </p>
      {/if}
      <p><label for="avatar"> Hình 2</label>
        <input type="file" name="avatarvaria2" id="avatar" size="25" maxlength="255" /> <strong
          style="margin-left:20px;">Biến (avatarvaria2)</strong><br /><br />
      </p>
      {if $estore->getProperty('avatarvaria2')}
      <p>
      <div class="listPhoto">
        <ul>
          <li>
            <a href="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlFromId({$estore->getProperty('avatarvaria2')})}"
              target="_blank"><img
                src="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlAFromId({$estore->getProperty('avatarvaria2')})}"
                width="100"  height="100" /></a>
          </li>
        </ul>
      </div>
      </p>
      {/if}
      <p><label for="avatar"> Hình 3</label>
        <input type="file" name="avatarvaria3" id="avatar" size="25" maxlength="255" /> <strong
          style="margin-left:20px;">Biến (avatarvaria3)</strong><br /><br />
      </p>
      {if $estore->getProperty('avatarvaria3')}
      <p>
      <div class="listPhoto">
        <ul>
          <li>
            <a href="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlFromId({$estore->getProperty('avatarvaria3')})}"
              target="_blank"><img
                src="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlAFromId({$estore->getProperty('avatarvaria3')})}"
                width="100"  height="100" /></a>
          </li>
        </ul>
      </div>
      </p>
      {/if}
      <p><label for="avatar"> Hình 4</label>
        <input type="file" name="avatarvaria4" id="avatar" size="25" maxlength="255" /> <strong
          style="margin-left:20px;">Biến (avatarvaria4)</strong><br /><br />
      </p>
      {if $estore->getProperty('avatarvaria4')}
      <p>
      <div class="listPhoto">
        <ul>
          <li>
            <a href="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlFromId({$estore->getProperty('avatarvaria4')})}"
              target="_blank"><img
                src="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlAFromId({$estore->getProperty('avatarvaria4')})}"
                width="100"  height="100" /></a>
          </li>
        </ul>
      </div>
      </p>
      {/if}
      <p><label for="avatar"> Hình 5</label>
        <input type="file" name="avatarvaria5" id="avatar" size="25" maxlength="255" /> <strong
          style="margin-left:20px;">Biến (avatarvaria5)</strong><br /><br />
      </p>
      {if $estore->getProperty('avatarvaria5')}
      <p>
      <div class="listPhoto">
        <ul>
          <li>
            <a href="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlFromId({$estore->getProperty('avatarvaria5')})}"
              target="_blank"><img
                src="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlAFromId({$estore->getProperty('avatarvaria5')})}"
                width="100"  height="100" /></a>
          </li>
        </ul>
      </div>
      </p>
      {/if}
      <p><label for="avatar"> Hình 6</label>
        <input type="file" name="avatarvaria6" id="avatar" size="25" maxlength="255" /> <strong
          style="margin-left:20px;">Biến (avatarvaria6)</strong><br /><br />
      </p>
      {if $estore->getProperty('avatarvaria6')}
      <p>
      <div class="listPhoto">
        <ul>
          <li>
            <a href="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlFromId({$estore->getProperty('avatarvaria6')})}"
              target="_blank"><img
                src="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlAFromId({$estore->getProperty('avatarvaria6')})}"
                width="100"  height="100" /></a>
          </li>
        </ul>
      </div>
      </p>
      {/if}
      <p><label for="avatar"> Hình 7</label>
        <input type="file" name="avatarvaria7" id="avatar" size="25" maxlength="255" /> <strong
          style="margin-left:20px;">Biến (avatarvaria7)</strong><br /><br />
      </p>
      {if $estore->getProperty('avatarvaria7')}
      <p>
      <div class="listPhoto">
        <ul>
          <li>
            <a href="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlFromId({$estore->getProperty('avatarvaria7')})}"
              target="_blank"><img
                src="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlAFromId({$estore->getProperty('avatarvaria7')})}"
                width="100"  height="100" /></a>
          </li>
        </ul>
      </div>
      </p>
      {/if}
      <p><label for="avatar"> Hình 8</label>
        <input type="file" name="avatarvaria8" id="avatar" size="25" maxlength="255" /> <strong
          style="margin-left:20px;">Biến (avatarvaria8)</strong><br /><br />
      </p>
      {if $estore->getProperty('avatarvaria8')}
      <p>
      <div class="listPhoto">
        <ul>
          <li>
            <a href="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlFromId({$estore->getProperty('avatarvaria8')})}"
              target="_blank"><img
                src="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlAFromId({$estore->getProperty('avatarvaria8')})}"
                width="100"  height="100" /></a>
          </li>
        </ul>
      </div>
      </p>
      {/if}
      <p><label for="avatar"> Hình 9</label>
        <input type="file" name="avatarvaria9" id="avatar" size="25" maxlength="255" /> <strong
          style="margin-left:20px;">Biến (avatarvaria9)</strong><br /><br />
      </p>
      {if $estore->getProperty('avatarvaria9')}
      <p>
      <div class="listPhoto">
        <ul>
          <li>
            <a href="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlFromId({$estore->getProperty('avatarvaria9')})}"
              target="_blank"><img
                src="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlAFromId({$estore->getProperty('avatarvaria9')})}"
                width="100"  height="100" /></a>
          </li>
        </ul>
      </div>
      </p>
      {/if}
      <p><label for="avatar"> Hình 10</label>
        <input type="file" name="avatarvaria10" id="avatar" size="25" maxlength="255" /> <strong
          style="margin-left:20px;">Biến (avatarvaria10)</strong><br /><br />
      </p>
      {if $estore->getProperty('avatarvaria10')}
      <p>
      <div class="listPhoto">
        <ul>
          <li>
            <a href="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlFromId({$estore->getProperty('avatarvaria10')})}"
              target="_blank"><img
                src="/{$estore->getProperty('custom_name_file_img')}/{$imgs->getUrlAFromId({$estore->getProperty('avatarvaria10')})}"
                width="100"  height="100" /></a>
          </li>
        </ul>
      </div>
      </p>
      {/if}
      <p class="btn">
        <input type="hidden" name="op" value="manage">
        <input type="hidden" name="act" value="img">
        <input type="hidden" name="mod" value="varia">
        <input type="hidden" name="doo" value="submit">
        <input type="submit" name="ok" id="ok" value="Lưu" />
      </p>
    </fieldset>
  </form>
</div>