{if isset($result_code)}<div class="message">{$amessages.result_code.$result_code}</div>{/if}
{if isset($error_code)}<div class="message2">{$amessages.error_code.$error_code}</div>{/if}

{if isset($error)}
{if $error.invalid || $error.message}
{assign var=input value=$error.INPUT}
<div class="errorBox">
<h2>{$locale->msg('error_notes')}:</h2>
<ul class="listStyle">
{foreach from=$input item=field}
{if $field.error}<li>{$field.message}</li>{/if}
{/foreach}
{if isset($error.message)}<li>{$error.message}</li>{/if}
</ul>
</div>
{/if}
{/if}

<div class="formContent">
<h1>{$locale->msg('edit_articlegroup')}</h1>

<form action="/{$aScript}" method="post" name="formEdit" id="formEdit" enctype="multipart/form-data">
<fieldset>
<p><strong>* {$locale->msg('required_fields')}</strong></p>

<!-- STATUS -->
<p>
<label for="status">{$locale->msg('system_status')}</label>
<select name="status" id="status" class="small">
<option value="1"
{if isset($error.INPUT)}
    {if $error.INPUT.status.value eq 1}selected{/if}
{else}
    {if $item->getStatus() eq 1}selected{/if}
{/if}>
{$locale->msg('enable')}
</option>

<option value="0"
{if isset($error.INPUT)}
    {if $error.INPUT.status.value eq 0}selected{/if}
{else}
    {if $item->getStatus() eq 0}selected{/if}
{/if}>
{$locale->msg('disable')}
</option>
</select>
</p>

<!-- NAME -->
<p{if isset($error.INPUT) && $error.INPUT.name.error} class="errormsg"{/if}>
<label for="name">* {$locale->msg('group_name')}:</label>
<input class="medium" type="text"
value="{if isset($error.INPUT)}{$error.INPUT.name.value}{else}{$item->getName()}{/if}" name="name" id="name" />
</p>

<p{if isset($error.INPUT) && $error.INPUT.name_en.error} class="errormsg"{/if}>
<label for="name_en">* {$locale->msg('group_name_en')}:</label>
<input class="medium" type="text"
value="{if isset($error.INPUT)}{$error.INPUT.name_en.value}{else}{$item->getNameEn()}{/if}" name="name_en" id="name_en" />
</p>

<p{if isset($error.INPUT) && $error.INPUT.name_zh.error} class="errormsg"{/if}>
<label for="name_zh">* {$locale->msg('group_name_zh')}:</label>
<input class="medium" type="text"
value="{if isset($error.INPUT)}{$error.INPUT.name_zh.value}{else}{$item->getNameZh()}{/if}" name="name_zh" id="name_zh" />
</p>

{if $fieldList}
<br />
<h2>{$locale->msg('list_custom_field')}</h2>
{foreach key=no from=$fieldList item=field}
{$field->displayHTML($item->getProperty($field->getName()))}
{/foreach}
{/if}
<br />
<p class="btn">
<input type="hidden" name="op" value="manage" />
<input type="hidden" name="act" value="article" />
<input type="hidden" name="mod" value="editgroup" />
<input type="hidden" name="id" value="{$item->getId()}" />
<input type="hidden" name="doo" value="submit" />
<input type="hidden" name="sCode" value="{$sCode}_" />
<input type="hidden" name="lang" value="{$lang}" />

<input type="submit"
value="{$locale->msg('button_update')}"
title="{$locale->msg('button_update')}"
name="btnSubmit" />

<input type="button"
onclick="javascript:formSubmit('formEdit','listgroup','cancel',0);"
value="{$locale->msg('button_cancel')}"
title="{$locale->msg('button_cancel')}"
name="btnCancel" />
</p>

</fieldset>
</form>
</div>
</div>
