{include file="$userTemplate/coreheader.tpl.html" title="site-header"}
<div id="main" class="left-content">
    {include file="$userTemplate/coreleft.tpl.html" title="site-top-menu"}
    <div id="content">
        {include file="$userTemplate/corenavigation.tpl.html" title="navigation-bar"}
        <div class="innerContent">
            <div id="tabContent" class="tabContent">
                {include file="$userTemplate/coretabs.tpl.html" title="show-tabs"}
                {if $mod eq "list"}
                <div class="search">
                    <form action="/{$aScript}" method="post" name="formSearch">
                        <fieldset>
                            <select name="filter_categories">
                                <option value="">{$locale->msg('filter_group')}</option>
                                {$filterProductCategoriesCombo}
                            </select>
                            <input type="text" value="{$kw}" name="kw" />
                            <input type="submit" value="{$locale->msg('search')}" title="{$locale->msg('search')}"
                                name="btnSearch" class="btnSearch" />
                            <input type="hidden" name="op" value="manage" />
                            <input type="hidden" name="act" value="product" />
                            <input type="hidden" name="mod" value="list" />
                            <input type="hidden" name="doo" value="search" />
                            <input type="hidden" name="lang" value="{$lang}" />
                            <input type="hidden" name="ipp" value="{$ipp}" />
                            <input type="hidden" name="sk" value="{$sk}" />
                            <input type="hidden" name="sd" value="{$sd}" />
                            <input type="hidden" name="pg" value="{$pg}" />
                        </fieldset>
                    </form>
                </div>
                {elseif $mod eq "listoption"}
                <div class="search">
                    <form action="/{$aScript}" method="post" name="formSearch">
                        <fieldset>
                            <select name="pId">
                                <option value="">{$locale->msg('filter_group')}</option>
                                <option value="28">&nbsp;&nbsp;&nbsp;l--Thương hiệu</option>
                                <option value="32">&nbsp;&nbsp;&nbsp;l--Thương hiệu phụ Kiện</option>
                                <option value="29">&nbsp;&nbsp;&nbsp;l--Hãng xe</option>
                                <option value="30">&nbsp;&nbsp;&nbsp;l--Kích thước</option>
                                <option value="31">&nbsp;&nbsp;&nbsp;l--Dung lượng</option>
                                <option value="33">&nbsp;&nbsp;&nbsp;l--Phân loại dòng xe chi tiết theo bình</option>
                            </select>
                            <input type="text" value="{$kw}" name="kw" />
                            <input type="submit" value="{$locale->msg('search')}" title="{$locale->msg('search')}"
                                name="btnSearch" class="btnSearch" />
                            <input type="hidden" name="op" value="manage" />
                            <input type="hidden" name="act" value="product" />
                            <input type="hidden" name="mod" value="listoption" />
                            <input type="hidden" name="doo" value="search" />
                            <input type="hidden" name="lang" value="{$lang}" />
                            <input type="hidden" name="ipp" value="{$ipp}" />
                            <input type="hidden" name="sk" value="{$sk}" />
                            <input type="hidden" name="sd" value="{$sd}" />
                            <input type="hidden" name="pg" value="{$pg}" />
                        </fieldset>
                    </form>
                </div>
                {elseif $mod eq "listcategory"}
                <div class="search">
                    <form action="/{$aScript}" method="post" name="formSearch">
                        <fieldset>
							<select name="filter_categories">
                                <option value="">{$locale->msg('filter_group')}</option>
                                {$filterProductCategoriesCombo}
                            </select>
                            <input type="text" value="{$kw}" name="kw" />
                            <input type="submit" value="{$locale->msg('search')}" title="{$locale->msg('search')}"
                                name="btnSearch" class="btnSearch" />
                            <input type="hidden" name="op" value="manage" />
                            <input type="hidden" name="act" value="product" />
                            <input type="hidden" name="mod" value="listcategory" />
                            <input type="hidden" name="pId" value="{$pId}" />
                            <input type="hidden" name="doo" value="search" />
                            <input type="hidden" name="lang" value="{$lang}" />
                            <input type="hidden" name="ipp" value="{$ipp}" />
                            <input type="hidden" name="sk" value="{$sk}" />
                            <input type="hidden" name="sd" value="{$sd}" />
                            <input type="hidden" name="pg" value="{$pg}" />
                        </fieldset>
                    </form>
                </div>
                {elseif $mod eq "listaccessory"}
                <div class="search">
                    <form action="/{$aScript}" method="post" name="formSearch">
                        <fieldset>
                            <select name="filter_categories">
                                <option value="">{$locale->msg('filter_group')}</option>
                                {$filterProductCategoriesCombo}
                            </select>
                            <input type="text" value="{$kw}" name="kw" />
                            <input type="submit" value="{$locale->msg('search')}" title="{$locale->msg('search')}"
                                name="btnSearch" class="btnSearch" />
                            <input type="hidden" name="op" value="manage" />
                            <input type="hidden" name="act" value="product" />
                            <input type="hidden" name="mod" value="listaccessory" />
                            <input type="hidden" name="doo" value="search" />
                            <input type="hidden" name="lang" value="{$lang}" />
                            <input type="hidden" name="ipp" value="{$ipp}" />
                            <input type="hidden" name="sk" value="{$sk}" />
                            <input type="hidden" name="sd" value="{$sd}" />
                            <input type="hidden" name="pg" value="{$pg}" />
                        </fieldset>
                    </form>
                </div>

                {elseif $mod eq "listfeature"}
                <div class="search">
                    <form action="/{$aScript}" method="post" name="formSearch">
                        <fieldset>
                            <select name="filter_categories">
                                <option value="">{$locale->msg('filter_group')}</option>
                            </select>
                            <input type="text" value="{$kw}" name="kw" />
                            <input type="submit" value="{$locale->msg('search')}" title="{$locale->msg('search')}"
                                name="btnSearch" class="btnSearch" />
                            <input type="hidden" name="op" value="manage" />
                            <input type="hidden" name="act" value="product" />
                            <input type="hidden" name="mod" value="listfeature" />
                            <input type="hidden" name="doo" value="search" />
                            <input type="hidden" name="lang" value="{$lang}" />
                            <input type="hidden" name="ipp" value="{$ipp}" />
                            <input type="hidden" name="sk" value="{$sk}" />
                            <input type="hidden" name="sd" value="{$sd}" />
                            <input type="hidden" name="pg" value="{$pg}" />
                        </fieldset>
                    </form>
                </div>
                {/if}
            
                <div class="tableContent">
                    {include file="$userTemplate/{$op}{$act}{$mod}.tpl.html" title="show-tabs"}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{include file="$userTemplate/corefooter.tpl.html" title="site-footer"}
