{if $result_code}<div class="message">{$amessages.result_code.$result_code}</div>{/if}
{if $error_code}<div class="message2">{$amessages.error_code.$error_code}</div>{/if}
{if $error}
{if $error.invalid || $error.message}
{assign var=input value=$error.INPUT}
<div class="errorBox">
<h2>{$locale->msg('error_notes')}:</h2>
<ul class="listStyle">
{foreach from=$input item=field}
{if $field.error}<li>{$field.message}</li>{/if}
{/foreach}
<li>{$error.message}</li>
</ul>
</div>
{/if}
{/if}
<div class="formContent">
<h1>{$locale->msg('add_new_product')}</h1>
<form action="/{$aScript}" method="post" name="formAdd" id="formAdd" enctype="multipart/form-data">
<fieldset>
<p><strong>* {$locale->msg('required_fields')}</strong></p>
<p><label for="status">{$locale->msg('system_status')}</label>
<select name="status" id="status" class="small">
<option value="1" {if isset($error.INPUT) && $error.INPUT.status.value eq 1} selected="selected"
{/if}>{$locale->msg('enable')}</option>
<option value="0" {if isset($error.INPUT) && $error.INPUT.status.value eq 0} selected="selected"
{/if}>{$locale->msg('disable')}</option>
</select>
</p>
<p><label for="cat_id">{$locale->msg('of_procate')}</label>
<select name="cat_id" id="cat_id">
<option value="0">&nbsp;&nbsp;&nbsp;l--Chọn</option>
{$productCategoriesCombo}
</select>
</p>
<p><label for="trademark">Thương hiệu</label>
<select name="trademark" id="trademark">
<option value="0">&nbsp;&nbsp;&nbsp;l--Chọn</option>
{if $listproductOptions}
{foreach from=$listproductOptions item=item}
{if $item->getPcId() eq '32'}
<option value="{$item->getId()}">&nbsp;&nbsp;&nbsp;l--{$item->getName()}</option>
{/if}
{/foreach}
{/if}
</select>
</p>
<!--  -->
<p><label for="list_carcompany">Hãng xe</label>
<select name="list_carcompany[]" id="list_carcompany" multiple="multiple" style="height: 100px;">
<option value="all">All</option>
{if $listproductOptions}
{foreach from=$listproductOptions item=item}
{if $item->getPcId() == 29}
<option value="{$item->getId()}">{$item->getName()}</option>
{/if}
{/foreach}
{/if}
</select>
</p>
<p{if isset($error.INPUT) && $error.INPUT.text_carcompany.error} class="errormsg" {/if}><label for="name">Nhập text hãng xe</label>
<input type="text" value="" name="text_carcompany"id="text_carcompany" /></p>

<!--  -->
<p{if isset($error.INPUT) && $error.INPUT.position.error} class="errormsg" {/if}><label
for="position">{$locale->msg('position')}</label>
<input class="small" type="text" value="{if isset($error.INPUT)}{$error.INPUT.position.value}{/if}"
name="position" id="position" /></p>
<p{if isset($error.INPUT) && $error.INPUT.name.error} class="errormsg" {/if}><label for="name">*{$locale->msg('product_name')}</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.name.value}{/if}" name="name"id="name" /></p>
<p{if isset($error.INPUT) && $error.INPUT.keyword.error} class="errormsg" {/if}><label
for="keyword">* {$locale->msg('keyword')}</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.keyword.value}{/if}"
name="keyword" id="keyword" /></p>
<p{if isset($error.INPUT) && $error.INPUT.viewed.error} class="errormsg" {/if}><label
for="viewed"> {$locale->msg('view')}</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.viewed.value}{/if}"
name="viewed" id="viewed" /></p>
<!-- <p{if isset($error.INPUT) && $error.INPUT.quanlity.error} class="errormsg" {/if}><label
for="quanlity">Số lượng</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.quanlity.value}{/if}"
name="quanlity" id="quanlity" /></p> -->
<p{if isset($error.INPUT) && $error.INPUT.price.error} class="errormsg" {/if}><label
for="price">Giá</label>
<input class="small" type="text"
value="{if isset($error.INPUT)}{$error.INPUT.price.value}{/if}" name="price"
id="price" />{$estore->getProperty('currency')}</p>
<p{if isset($error.INPUT) && $error.INPUT.market_price.error} class="errormsg"
{/if}><label for="market_price">Giá khuyến mãi</label>
<input class="small" type="text"
value="{if isset($error.INPUT)}{$error.INPUT.market_price.value}{/if}"
name="market_price" id="market_price" />{$estore->getProperty('currency')}
</p>
<p><label for="origin">Xuất xứ</label>
<select name="origin" id="origin">
<option value="0">l--Chọn</option>
{if $specificationsList}
{foreach from=$specificationsList item=item}
{if $item->getParentId() eq 6}
<option value="{$item->getId()}">&nbsp;&nbsp;&nbsp;l--{$item->getName()}
</option>
{/if}
{/foreach}
{/if}
</select>
</p>
<p{if isset($error.INPUT) && $error.INPUT.uses.error} class="errormsg" {/if}>
<label for="usess">Công dụng</label>
<input type="text"
value="{if isset($error.INPUT)}{$error.INPUT.usess.value}{/if}"
name="usess" id="usess" />
</p>

<p{if isset($error.INPUT) && $error.INPUT.spcode.error} class="errormsg" {/if}>
<label for="spcode">Mã SP</label>
<input type="text"
value="{if isset($error.INPUT)}{$error.INPUT.spcode.value}{/if}"
name="spcode" id="spcode" />
</p>
<p><label for="segment">Phân khúc</label>
    <input type="text" value="" name="segment" id="segment" />
</p>
<p{if isset($error.INPUT) && $error.INPUT.specifications.error}
class="errormsg" {/if}><label for="specifications">Thông số kỹ thuật</label>
<input type="text"
value="{if isset($error.INPUT)}{$error.INPUT.specifications.value}{/if}"
name="specifications" id="specifications" />
</p>
<p{if isset($error.INPUT) && $error.INPUT.sizepk.error} class="errormsg"
{/if}><label for="sizepk">Kích thước</label>
<input type="text"
value="{if isset($error.INPUT)}{$error.INPUT.sizepk.value}{/if}"
name="sizepk" id="sizepk" />
</p>

<p{if isset($error.INPUT) && $error.INPUT.pileloca.error} class="errormsg"
{/if}><label for="pileloca">Vị trí cọc</label>
<input type="text"
value="{if isset($error.INPUT)}{$error.INPUT.pileloca.value}{/if}"
name="pileloca" id="pileloca" />
</p>
<p{if isset($error.INPUT) && $error.INPUT.techno.error} class="errormsg"
{/if}><label for="techno">Công nghệ</label>
<input type="text"
value="{if isset($error.INPUT)}{$error.INPUT.techno.value}{/if}"
name="techno" id="techno" />
</p>

<br>
<p><label for="description">Chính sách bảo hàng</label>
<textarea rows="10" cols="20" name="warranty_policy"
id="warranty_policy"></textarea>
</p>
<p{if isset($error.INPUT) && $error.INPUT.description.error}
class="errormsg" {/if}><label for="detail">*Giới thiệu</label>
</p>
<textarea rows="10" cols="20" name="description"
id="description">{if isset($error.INPUT)}{$error.INPUT.description.value}{/if}</textarea>
{literal}
<script
type="text/javascript">var editor = CKEDITOR.replace('description');</script>
{/literal}
<br>
<p{if isset($error.INPUT) && $error.INPUT.detail.error}
class="errormsg" {/if}><label for="detail">*Chi
tiết</label></p>
<textarea rows="10" cols="20" name="detail"
id="detail">{if isset($error.INPUT)}{$error.INPUT.detail.value}{/if}</textarea>
{literal}
<script
type="text/javascript">var editor = CKEDITOR.replace('detail');</script>
{/literal}

<br>
<!-- <p><label for="avatar"> {$locale->msg('avatar')}</label><input type="file" name="avatar" id="avatar" />
</p> -->
<p><label for="files">Hình ảnh đính kèm</label><input
type="file" multiple="multiple" name="files[]"
id="files[]" /></p>
<br clear="all" /></p>

{if $fieldOptionList}
<br /><h2 style="text-transform: capitalize;">{$locale->msg('list_custom_options')}</h2>
{foreach key=no from=$fieldOptionList item=field}
{assign var=field_name value=$field->getFieldName()}
{if isset($error.INPUT.$field_name)}
{$field->displayHTML($error.INPUT.$field_name.value, $error.INPUT.$field_name.error)}
{else}
{$field->displayHTML('','')}
{/if}
{/foreach}
{/if}

<!-- {if $fieldList}
<br />
<h2>{$locale->msg('list_custom_field')}</h2>
{foreach key=no from=$fieldList item=field}
{if isset($error.INPUT)}
{assign var=field_name value=$field->getName()}
{$field->displayHTML($error.INPUT.$field_name.value)}
{else}
{$field->displayHTML('')}
{/if}
{/foreach}
{/if} -->

<br />

<p class="btn">
<input type="hidden" name="op" value="manage" />
<input type="hidden" name="act" value="product" />
<input type="hidden" name="mod" value="addaccessory" />
<input type="hidden" name="doo" value="submit" />
<input type="hidden" name="sCode" value="{$sCode}_" />
<input type="hidden" name="lang" value="{$lang}" />
<input type="hidden" name="listidcar" value="" />
<input type="submit"
value="{$locale->msg('button_submit')}"
title="{$locale->msg('button_submit')}"
name="btnSubmit" />
<input type="reset"
value="{$locale->msg('button_reset')}"
title="{$locale->msg('button_reset')}"
name="btnReset" />
<input type="button"
onclick="javascript:formSubmit('formAdd','list','cancel',0);"
value="{$locale->msg('button_cancel')}"
title="{$locale->msg('button_cancel')}"
name="btnCancel" />
</p>
</fieldset>
</form>
</div>
</div>
<script>
var selectedValuesArray = [];
// Lấy phần tử select
var selectElement = document.getElementById("carcompany");
// Thêm sự kiện onchange
selectElement.onchange = function () {
// Lấy giá trị của option được chọn
var selectedValue = selectElement.value;
// In giá trị của option được chọn ra console
console.log(selectedValue);
var valtest = selectedValue;
var op = "loadcarcompany";
$.ajax({
type: 'POST',
url: '/ajax.php',
dataType: "json",
data: { op, valtest },
success: function (data) {
$('#' + data['nameProductOptions']).css('display', 'block');

// Thêm valtest vào mảng selectedValuesArray
selectedValuesArray.push(valtest);
$('input[name="listidcar"]').val(selectedValuesArray);

}
});
};
</script>