{if $result_code}<div class="message">{$amessages.result_code.$result_code}</div>{/if}
{if $error_code}<div class="message2">{$amessages.error_code.$error_code}</div>{/if}
{if $pId}<p><a href="/{$aScript}?op=manage&act=support&mod=list&pId={$gfId}" title="{$locale->msg('back_group')}"><img src="/{$templatePath}/{$userTemplate}/images/icon_parent.png" alt="{$locale->msg('back_group')}" width="32" height="32" />...{$locale->msg('back')}</a></p>{/if}
{if $listItems}
<form action="/{$aScript}" method="post" name="formType" id="formType">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<th><input type="checkbox" name="all" id="all" value="1" class="box3" onClick="toggleAllChecks('formType');" /></th>
<th>{$locale->msg('numbers')}</th>
<th><a href="javascript:void(0)" onClick="javascript:MM_sortField('parent','{$sk}','id','{if $sd eq "DESC"}ASC{else}DESC{/if}');" title="{$locale->msg('arrangement_by_code')}">{$locale->msg('code')}</a>{if $sk eq "id"}{if $sd eq "DESC"}&darr;{else}&uarr;{/if}{/if}</th>
<th><a href="javascript:void(0)" onClick="javascript:MM_sortField('parent','{$sk}','fullname','{if $sd eq "DESC"}ASC{else}DESC{/if}');" title="{$locale->msg('arrangement_by_name')}">{$locale->msg('name')}</a>{if $sk eq "name"}{if $sd eq "DESC"}&darr;{else}&uarr;{/if}{/if}</th>
<th><a href="javascript:void(0)" onClick="javascript:MM_sortField('parent','{$sk}','nick_yahoo','{if $sd eq "DESC"}ASC{else}DESC{/if}');" title="{$locale->msg('sort_yahoo')}">{$locale->msg('nick_yahoo')}</a>{if $sk eq "nick_yahoo"}{if $sd eq "DESC"}&darr;{else}&uarr;{/if}{/if}</th>
<th><a href="javascript:void(0)" onClick="javascript:MM_sortField('parent','{$sk}','nick_skype','{if $sd eq "DESC"}ASC{else}DESC{/if}');" title="{$locale->msg('sort_skype')}">{$locale->msg('nick_skype')}</a>{if $sk eq "nick_skype"}{if $sd eq "DESC"}&darr;{else}&uarr;{/if}{/if}</th>
<th><a href="javascript:void(0)" onClick="javascript:MM_sortField('parent','{$sk}','position','{if $sd eq "DESC"}ASC{else}DESC{/if}');" title="{$locale->msg('arrangement_by_position')}">{$locale->msg('position')}</a>{if $sk eq "position"}{if $sd eq "DESC"}&darr;{else}&uarr;{/if}{/if}</th>
<th><a href="javascript:void(0)" onClick="javascript:MM_sortField('parent','{$sk}','status','{if $sd eq "DESC"}ASC{else}DESC{/if}');" title="{$locale->msg('arrangement_by_status')}">{$locale->msg('system_status')}</a>{if $sk eq "status"}{if $sd eq "DESC"}&darr;{else}&uarr;{/if}{/if}</th>
<th>{$locale->msg('actions')}</th>
</tr>
</thead>
<tbody>
{foreach key=no from=$listItems item=item}
<tr{if $no%2 eq 0} class="bgType"{/if}>
<td><input type="checkbox" name="ids[]" id="ids[]" value="{$item->getId()}" class="box3" /></td>
<td>{$startNum+$no}</td>
<td>{$item->getId()}</td>
<td>{$item->getFullName()} </td>
<td>{$item->getNickYahoo()} </td>
<td>{$item->getNickSkype()} </td>
<td><input type="text" name="positions[{$item->getId()}]" value="{$item->getPosition()}" /></td>
<td>{$item->getStatusTextBackend()}</td>
<td>
<a href="/{$aScript}?op=manage&act=support&mod=edit&id={$item->getId()}&lang={$lang}" title="{$locale->msg('edit')}"><img src="/{$templatePath}/{$userTemplate}/images/ico_edit.png" alt="{$locale->msg('edit')}" width="16" height="16" /></a>
<a href="javascript:formSubmit('formType','list','enable',{$item->getId()});" title="{$locale->msg('enable')}"><img src="/{$templatePath}/{$userTemplate}/images/ico_enable.png" alt="{$locale->msg('enable')}" width="16" height="16" /></a>
<a href="javascript:formSubmit('formType','list','disable',{$item->getId()});" title="{$locale->msg('disable')}"><img src="/{$templatePath}/{$userTemplate}/images/ico_disable.png" alt="{$locale->msg('disable')}" width="16" height="16" /></a>
<a href="javascript:formSubmit('formType','list','delete',{$item->getId()});" title="{$locale->msg('delete')}"><img src="/{$templatePath}/{$userTemplate}/images/ico_delete.png" alt="{$locale->msg('delete')}" width="16" height="16" /></a>
</td>
</tr>
{/foreach}
</tbody>
</table>
<div class="paging">
<p class="listBtn">
<a title="{$locale->msg('button_update')}" href="javascript:void(0);" onClick="javascript:formSubmit('formType','list','changeposition','0');;">{$locale->msg('button_update')}</a>
<a title="{$locale->msg('button_enable')}" href="javascript:void(0);" onClick="javascript:formSubmit('formType','list','enable','0');;">{$locale->msg('button_enable')}</a>
<a title="{$locale->msg('button_disable')}" href="javascript:void(0);" onClick="javascript:formSubmit('formType','list','disable','0');">{$locale->msg('button_disable')}</a>
<a title="{$locale->msg('button_delete')}" href="javascript:void(0);" onClick="javascript:formSubmit('formType','list','delete','0');">{$locale->msg('button_delete')}</a>
</p>
{include file="$userTemplate/corepager.tpl.html" title=pager}
</div>
<div class="infoType2">
{include file="$userTemplate/corecomboipp.tpl.html" title=ipp}
<input type="hidden" name="op" value="manage" />
<input type="hidden" name="act" value="support" />
<input type="hidden" name="mod" value="list" />
<input type="hidden" name="pId" value="{$pId}" />
<input type="hidden" name="doo" value="" />
<input type="hidden" name="kw" value="{$kw}" />
<input type="hidden" name="lang" value="{$lang}" />
<input type="hidden" name="ipp" value="{$ipp}" />
<input type="hidden" name="sk" value="{$sk}" />
<input type="hidden" name="sd" value="{$sd}" />
<input type="hidden" name="pg" value="{$pg}" />
<input type="hidden" name="id" value="" />
</form>
{else}
{$locale->msg('no_record')}
{/if}
</div>