{if $result_code}<div class="message">{$amessages.result_code.$result_code}</div>{/if}
{if $error_code}<div class="message2">{$amessages.error_code.$error_code}</div>{/if}
{if $error}
{if $error.invalid || $error.message}
{assign var=input value=$error.INPUT}
<div class="errorBox">
    <h2>{$locale->msg('error_notes')}:</h2>
    <ul class="listStyle">
        {foreach from=$input item=field}
        {if $field.error}<li>{$field.message}</li>{/if}
        {/foreach}
        <li>{$error.message}</li>
    </ul>
</div>
{/if}
{/if}
<div class="formContent">
    <h1>{$locale->msg('add_new_object')}</h1>
    <form action="/{$aScript}" method="post" name="formAdd" id="formAdd" >
        <fieldset>
            <p><strong>* {$locale->msg('note_add_new_object')}</strong></p>
            <p>
                <label for="status">{$locale->msg('system_status')}</label>
                <select name="status" id="status" class="small">
                    <option value="1"{if isset($error.INPUT) && $error.INPUT.status.value eq 1} selected="selected"{/if}>{$locale->msg('enable')}</option>
                    <option value="0"{if isset($error.INPUT) && $error.INPUT.status.value eq 0} selected="selected"{/if}>{$locale->msg('disable')}</option>
                </select>
            </p>
            
            <p{if isset($error.INPUT) && $error.INPUT.name.error} class="errormsg"{/if}>
                <label for="name">* {$locale->msg('name')}</label>
                <input class="small" type="text" value="{if isset($error.INPUT)}{$error.INPUT.name.value}{/if}" name="name" id="name" />
            </p>

            <p id="value_p" {if isset($error.INPUT) && $error.INPUT.value.error} class="errormsg"{elseif $error.INPUT.field_type.value<=3} class="hidden"{/if}><label for="value">* {$locale->msg('custom_field_value')}:<br />{$locale->msg('format_item')}: KEY:VALUE<br />{$locale->msg('arow_antem')}</label>
            <textarea rows="10" cols="20" name="value" id="value">{if isset($error.INPUT)}{$error.INPUT.value.value}{/if}</textarea></p>
            
            <p class="btn">
                <input type="hidden" name="op" value="system" />
                <input type="hidden" name="act" value="optionstructurelistobject" />
                <input type="hidden" name="mod" value="add" />
                <input type="hidden" name="doo" value="submit" />
                <input type="hidden" name="sCode" value="{$sCode}_" />
                <input type="hidden" name="lang" value="{$lang}" />
                <input type="submit" value="{$locale->msg('button_submit')}" title="{$locale->msg('button_submit')}" name="btnSubmit" />
                <input type="reset" value="{$locale->msg('button_reset')}" title="{$locale->msg('button_reset')}" name="btnReset" />
                <input type="button" onClick="javascript:formSubmit('formAdd','list','cancel',0);" value="{$locale->msg('button_cancel')}" title="{$locale->msg('button_cancel')}" name="btnCancel" />
            </p>
        </fieldset>
    </form>
</div>
