/******** Default Behaviour Tags ********/
/****************************************/
/* RESET STYLE */

*				{margin:0; padding:0; font-family: Arial, Helvetica, sans-serif; color:#555; outline:none;}
body			{font-size:11px; background:#fff; display: flex; flex-direction: column; height: 100vh;}
a				{color:#CC6600; text-decoration:none}
a:hover			{text-decoration:underline}
select, input, textarea	{font-family: Arial, Helvetica, sans-serif; color:#555; border:#ccc solid 1px; font-size:11px; }
input, textarea {padding:2px 1px 2px 2px;}
h1{color:#000; font-size:20px; line-height:normal; margin:0 0 10px}
h2{font-size:15px; color:#333; margin:0 0 10px;}
h3{font-size:13px; color:#333; margin:0 0 10px;}
h4{font-size:12px; color:#333; margin:0 0 10px;}
h5, h6{font-size:11px; color:#333; margin:0 0 10px}
img, fieldset{border:0}
option{padding:1px}
.hidden{display:none !important;}
/***********/
ol, ul{list-style-type:none;}
dt{font-weight:bold; text-transform:uppercase;} 
/***********/
th, td{text-align:left; padding:5px;}
	thead{font-weight:bold;}
p{line-height:16px;}
/********** Common Classes ********/
.clear{height:0; clear:both; padding:0; margin:0; line-height:0;}



/********** Common Structure (for all templates) ********/
	/************header
	****************************/
	#header{ background-color:#FFCC00; background-image:url(../images/bgd_header.jpg) ; background-repeat: no-repeat; background-size: contain; background-position: right bottom; min-height:64px; border-bottom:#fff solid 1px; position:relative; display: flex; flex-direction: column-reverse; align-items: end; }
	#header h1 { width:100%; margin: 0;}
	#header > h1 > a > img{ max-height: 51px; width: auto; height: 100%; margin-left: 10px; margin-bottom: 10px;}
	.topnav {width: 80%; background-color: #fff; height:fit-content; padding:3px 15px; border-bottom-left-radius: 50px; }
	.topnav li{ display:block; float:left; background:url(../images/ico_arrow_01.gif) 0 5px no-repeat; padding:0 0 0 7px; margin-right:10px; font-weight:bold }
	.topnav li a { color:#333; }
	.topnav li a:hover { text-decoration:none; color:#cc6600 }
	
	/************nav
	****************************/	
	#nav{position: relative;  background:#555; display: flex; justify-content: space-between; align-items: center; padding: 0px 15px; flex-wrap: wrap; height: fit-content; gap: 5px 20px; flex-direction: row-reverse;}
	#nav li{display:flex; justify-content: center; align-items: center; float:left; border-right:#828282 solid 1px; padding: 0px 15px; min-height: 32px;}
	#nav li a{ color:#fff;}
	#nav li a:hover, #nav .current a{background:#8b827d; text-decoration:none}
				
		/* Just sub menu links */
		#subMenusContainer a, #nav li li a{text-align:left;}
		
		/* All menu links on hover or focus */
		#nav a:hover, #nav a:focus, #subMenusContainer a:hover, #subMenusContainer a:focus, #nav a.mainMenuParentBtnFocused, #subMenusContainer a.subMenuParentBtnFocused{
			color:#fff; text-decoration:none
		}
		
		/* sub menu links on hover or focus */
		#nav a.mainMenuParentBtnFocused, 
		#nav li a:hover,
		#nav li a:focus{color:#fff; text-decoration:none; background:#8b827d }
		#subMenusContainer a:hover, 
		#subMenusContainer a:focus, #subMenusContainer a.subMenuParentBtnFocused{color:#fff; text-decoration:none;}
		
	
		/* Parent Sub Menu Links ---[javascript users only]*/
		.subMenuParentBtn{ }
		
		/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/
		.subMenuParentBtnFocused{ }
		
		/* Parent Main Menu Links ---[javascript users only]*/
		.mainMenuParentBtn{}
		
		/* Parent Main Menu Links on hover or focus ---[javascript users only]*/
		.mainMenuParentBtnFocused{text-decoration:none;}
		
		/* ----[ OLs ULs, LIs, and DIVs ]----*/
		
		/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
		.smOW{ display:none; position: absolute; overflow:hidden;}
		
		/* All ULs and OLs */
		#nav ul, #nav ol, #subMenusContainer ul, #subMenusContainer ol { padding: 0; margin: 0; list-style: none;	line-height: 1em;}
		
		#subMenusContainer ul {padding:5px 0}
		
		/* All submenu OLs and ULs */
		#nav ol, #subMenusContainer ul, #subMenusContainer ol {background:#8b827d; left:0; border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px;}
		
		/* List items in main menu --[for non-javascript users this applies to submenus as well]  */
		#nav li {position:relative;}
		#nav .first{background:none; padding-left:0}
		/* main menu ul or ol elment */
		/* #nav{display:block; z-index:5;} */
		
		#subMenusContainer{	display:block; 	position:absolute;	top:0;	left:0;	width:100%;	height:0;	overflow:visible;	z-index:9999; font-size:11px;}
		#subMenusContainer li a{padding:5px 15px; width:200px; color:#ddd; display:block}
		/* --------------------------[ The below is just for non-javscript users ]--------------------------*/
		#nav li li{	float:none; }
		
		#nav li li a{ /* Just submenu links*/	position:relative;	float:none;}
		
		#nav li ul { /* second-level lists */
			position: absolute;	width: 10em; margin-left: -1000em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
			margin-top:2.2em;
		}
		
		/* third-and-above-level lists */
		#nav li ul ul {margin: -1em 0 0 -1000em;}
		#nav li:hover ul ul {margin-left: -1000em; }
		
		 /* lists nested under hovered list items */
		#nav li:hover ul{margin-left: 0; }
		#nav li li:hover ul {margin-left: 10em; margin-top:-2.5em;}
		
		/* extra positioning rules for limited noscript keyboard accessibility */
		#nav li a:focus + ul {  margin-left: 0; margin-top:2.2em; }
		#nav li li a:focus + ul { left:0; margin-left: 1010em; margin-top:-2.2em;}
		#nav li li a:focus {left:0;  margin-left:1000em; width:10em;  margin-top:0;}
		#nav li li li a:focus {left:0; margin-left: 2010em; width: 10em;  margin-top:-1em;}
		#nav li:hover a:focus{ margin-left: 0; }
		#nav li li:hover a:focus + ul { margin-left: 10em; }
		

	/************main
	****************************/
	#main {width:100%; display: flex; gap: 10px; margin-bottom: 10px; overflow: hidden;}
	.flex-col{flex-direction: column;}

	/* login page */
	.flex{display: flex;}
	.login__container{justify-content: center; width: 100%; }
	.login__innerContent{max-width: 800px;gap: 10px; width: calc(100% - 20px); align-items: center;}
	.login__contType{ padding: 10px; border: 1px solid black; width: inherit;}
	.login__formContent {width: 50%;}
	.login__formContent h1{margin: 0px;}
	.login__formContent fieldset {display: flex;flex-direction: column; gap: 10px;}
	.login__formContent fieldset > p {width: inherit; display: flex; gap:10px; align-items: center;}
	.login__formContent fieldset > p > strong{font-size: 11px;}
	.login__formContent fieldset > p > label{text-align:right ;font-size: 14px; max-width: 150px; min-width:150px; word-wrap: break-word; white-space: normal; }
	.login__formContent fieldset > p > input{flex-grow: 1; min-height: 28px;}
	.login__formContent{gap: 10px;}
	.login__button{display: flex; justify-content: right;}
	.login__button input{flex-grow: 0 !important; padding: 4px 10px ; color: white; background-color: #555; font-weight: bold; height: 21px; cursor: pointer; width: fit-content;}
	@media screen and (max-width:768px) and (min-width: 500px) {
		.login__formContent {width: 70%;}
	}
	@media (max-width: 768px) {
    #lev { position: absolute;  top: 0; left: 0;width: 200px; background: white; box-shadow: 0 2px 8px rgba(0,0,0,0.1); z-index: 100;}
    #content{margin-left:  45px;}	
    }
	@media screen and (max-width:499px) {
		.login__formContent {width: 100% !important; }
		.login__formContent fieldset > p > label{
			max-width: 100px; min-width:100px
		}
	}
	/************lev
	****************************/
	#lev{/*position: absolute;*/ width: fit-content; flex: 0 0 auto; }
	#lev li{display:block; background:url(../images/ico_arrow_01.gif) 10px 12px no-repeat; padding:7px 0 7px 20px; font-weight:bold; border-bottom:#ccc dotted 1px;}
	#lev li a { min-width: 120px; color:#333; display:block; padding-right:10px }
	#lev li a:hover { text-decoration:none; color:#CC6600 }
	#lev li ul{ padding-top:5px }
	#lev li li { font-weight:normal; border-bottom:none; background-position: 5px 8px; padding:3px 0 3px 15px; }
	#lev .current { background:url(../images/ico_arrow_02.gif) 10px 12px no-repeat;}
	#lev .current .current { background-position:5px 8px }
	#lev .current>a, #lev .current2>a {color:#CC6600}
	#lev .currentsub { background-color:#fff; border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px }
	#lev p{padding: 0 0 0 10px;}
	.levInner {background: none repeat scroll 0 0 #EBEBEB;border-radius: 0 10px 10px 0;padding: 10px 2px;width: 100%; min-height: 500px;}
	.levInner > ul {/*display: none; position: absolute;*/ background: none repeat scroll 0 0 #ebebeb; z-index: 1; /*box-shadow:  0px 1px 2px 0px;*/ border-bottom-right-radius: 10px; border-top-right-radius: 10px;}
	.toggle-btn {cursor: pointer ;background-color: #CC6600;margin: 0px 3px; width: 28px; height: 28px; border: none;border-radius: 2px;display: flex; justify-content: center; align-items: center; }
	.toggle-btn svg{fill: white; aspect-ratio: 1 / 1; width: 21px; height: auto;}
	.levInner > ul.show {  display: block !important ;}

	#lev ul { display: block; transition: all 0.3s ease;}
    #lev ul.hidden { display: none;}
	@media screen and (max-width:500px) {
		.levInner{ padding: 10px 0px;}
		/* #content{margin-left: 35px !important;} */
	}

	/************content
	****************************/

	#content{ /*margin-left: 45px;*/ margin-right: 5px;  flex: 1 1 auto; min-width: 0;}
	/* #content p{ max-height: 120px; overflow-y: visible;} */
	/* #content p{ margin-bottom:10px; max-height: 120px; overflow-y: visible;} */
	#content p{}
	.left-content-right .innerContent, .content-right .innerContent{ margin-right:215px; }
	.left-content {flex-grow: 1; position: relative;}
	.login-container{ display: flex; flex-direction: column; align-items: center;}
	.login-container .formContent{ width: calc(100% - 20px);}
	.login-container .formContent > form > fieldset {width: 100% !important;}
	.content-right #content { margin-left:15px; }
	.content #content { margin:0 15px; }
	.innerContent{width: inherit;}

	.contType { border:#555 solid 1px; padding:10px; margin-bottom:15px ; max-width: 800px; width: calc(100% - 20px);}
	/************11 - 6 - 2025 start	****************************/
	.tableContent form .table-scroll-x { margin-top:5px;  overflow-x: auto;overflow-y: hidden; max-width: 100%;}
	/************end	****************************/
	.tableContent table{margin:0 0 15px 0; border-bottom:#c8cfd9 solid 3px; width: auto; min-width: 600px; border-collapse: collapse;}
		.tableContent td input{width:30px; height:14px; float:left; margin:0 3px 0 0; text-align:right}
		.tableContent td .position{width:30px; height:14px; float:left; margin:0 3px 0 0; text-align:right}
		.tableContent td .price{width:70px; height:14px; float:left; margin:0 3px 0 0; text-align:right}
		.tableContent th{padding:7px 5px; background:#c8cfd9; color:#000;}
		.tableContent th a{color:#000; text-decoration:underline}
		.tableContent th a:hover{color:#000; text-decoration:none}		
		.tableContent td{padding:4px 4px; border-bottom:#dedede  solid 1px; color:#666; max-width: 300px;}
		.tableContent td img{margin:0 1px;}
		.tableContent td a{color:#666}
		.tableContent td a:hover{color:#DC4B1C}
		.tableContent .bgType td{background:#ebe9e9 !important}
		.tableContent .bgType td,
		.tableContent .bgType td > a,
		.tableContent td ,
		.tableContent td > a,
		.tableContent th ,
		.tableContent th > a{font-size: 11px;}
		.tableContent .box3{width:13px; height:13px; border:none; padding:0; margin:0}
		.tableContent td .btnOK{width:40px; height:20px; background:#ef8710; margin:0; padding:0; font-size:0.912em; font-weight:bold; cursor:pointer; color:#fff; border:#e07a04 solid 1px;}
		.tableContent td p{max-width: 410px; width:100%; display:block; overflow:hidden; margin-bottom: 0 !important;} /* fix CO */
		.tableContent .cell-content { display: flex; gap: 10px 5px; align-items: center; flex-wrap: wrap; padding: 10px 0px; max-width: 120px;}
			
	/* error box ------------*/
	.errorBox { border:#cc0000 solid 1px; padding:10px 10px 10px 40px; background:url(../images/error_icon.gif) 10px 10px no-repeat #FFCCCC; margin-bottom:15px; }

	/* info box ------------*/
	.infoBox { border: #33CC00 solid 1px; padding:10px 10px 10px 40px; background:url(../images/success_icon.png) 10px 10px no-repeat #ebf8a4; margin-bottom:15px; }
	
	/* bradcrumb --------*/
	/* .breadcrumb { width:100%; overflow:hidden; margin:0 0 10px; padding:15px 0 0 0 } */
	.breadcrumb {width: inherit; display: flex; align-items: center; gap: 5px; margin: 15px 0 10px; flex-wrap: wrap;}
	.breadcrumb li{display:block; background:url(../images/ico_arrow_01.gif) 100% 5px no-repeat; font-weight:bold; padding:0 15px 0 0; }
	.breadcrumb .last { background:none }
	/* css 17-6-2025 */
	@media screen and (max-width: 500px) {
		.breadcrumb > li:nth-child(1) > a,
		.breadcrumb > li:nth-child(2) > a,
		.breadcrumb > li:nth-child(3) > a {display: inline-block; max-width: 40px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}
	}
	
	/*********************/
	.latestUpdate { float:right; margin:0 0 5px 10px }
	.latestUpdate table { background:#333; }
	.latestUpdate td{ background:#fff; text-align:left; vertical-align:top }
	
	/* .formContent fieldset p { width:100%; overflow:hidden } */
	/* ==== css cập nhật 17 / 6/ 2025 ==== */
	/* ==== start ==== */
	.test{background-color: green;}
	.formContent fieldset p{display: flex; gap: 10px; align-items: center;}
	.formContent fieldset p label{ font-size: 14px;}
	.formContent fieldset label{text-align: right;}
	.one-column{  grid-template-columns: 1fr !important;}
	.formContent > form > fieldset > p > input.box{ flex-grow: unset;}
	@media screen and (max-width: 800px) {
		.formContent fieldset{width: calc(100% - 5px) !important;}
		body .toggle-btn:hover + ul{display: none}
		.formContent fieldset p > label:first-child{
			max-width: 100px;
			word-wrap: break-word;
		}
	}
	/* ==== end ==== */
	.formContent fieldset {display: flex; flex-direction: column; gap: 10px;}
	.formContent fieldset .left {width: 50%; float:left; }
	.formContent fieldset .right {width: 50%; float:right; }
	.formContent fieldset label {display: flex;align-items: center; justify-content: right;}
	.formContent fieldset p > label:first-child { width: 200px; float:left; text-align:right }
	.formContent fieldset input { /*width:350px; float:left;*/  margin-right:5px; min-height: 28px; }
	.formContent fieldset p #dynamicInput { width:500px; float:left; margin-right:5px }
	.formContent fieldset p > button {bottom: 54px !important; right: -3% !important;}
	/* .formContent fieldset p span{flex-grow: 1;} */
	.formContent fieldset .long{ width:470px; float:left; margin-right:5px }
	.formContent > form > fieldset > p > select {flex-grow:1 ;float:left; min-height: 34px; }
	.formContent fieldset .verylarge,
	.formContent fieldset .large,
	.formContent fieldset .medium,
	.formContent fieldset .small,
	.formContent fieldset .verysmall{width: 100%; max-width: 10%; margin: 0px; }
	.formContent fieldset .small { max-width: 15%;}
	.formContent fieldset .medium { max-width: 25%; }
	.formContent fieldset .large {max-width: 40%;}
 	.formContent fieldset .verylarge {max-width: 75%;}
	@media screen and (max-width: 1024px) and (min-width : 768px) {
		.formContent fieldset .verysmall { max-width: 20%; }
		.formContent fieldset .small { max-width: 25%;}
		.formContent fieldset .medium { max-width: 35%; }
		.formContent fieldset .large {max-width: 45%;}
		.formContent fieldset .verylarge {max-width: 55%;}
	}
	@media screen and (max-width: 767px) and (min-width : 426px) {
		.formContent fieldset .verysmall { max-width: 60%; }
		.formContent fieldset .small { max-width: 65%;}
		.formContent fieldset .medium { max-width: 75%; }
		.formContent fieldset .large {max-width: 85%;}
		.formContent fieldset .verylarge {max-width: 90%;}
	}
	@media screen and (max-width: 425px) {
		.formContent fieldset .verylarge,
		.formContent fieldset .large,
		.formContent fieldset .medium,
		.formContent fieldset .small,
		.formContent fieldset .verysmall{max-width: 100%;}
	}
	.formContent fieldset textarea {flex-grow: 1; float:left; max-height:50px;}
	.formContent fieldset .box {width:13px; height:13px; min-height: unset; border:none; margin-top:2px;}
	.formContent fieldset .lbl {min-width: 20px !important; margin-right: 10px !important; display: flex; justify-content: left; }
	/* .formContent fieldset .btn {  height:21px } */
	.formContent fieldset .btn { width: fit-content; display: flex;justify-content: right; margin-left: auto; }
	.formContent fieldset .btn input { width: auto; float:none; padding:4px 10px; background:#555; color:#fff; font-weight:bold; border:none; cursor:pointer; height:21px; }
	#csscustom_noindex > label:nth-child(2),
	#csscustom_noindex > label:nth-child(3),
	#run_flat > label:nth-child(2),
	#run_flat > label:nth-child(3){width: fit-content !important;}
	.helpIcon{ float:left; position:relative; }
	.helpIcon:hover .alertPopup {display:block;}
	.alertPopup {display:none; position:absolute; left:10px; top:12px; width:200px; background:#fafafa; border:#999 solid 1px; padding:0 10px 10px 10px}
	.alertPopup h4{ padding:3px 10px; color:#fff; margin:0 -10px 5px -10px; display:block; background:#F27F1A;}
	/* .boxTyle { width:100%; margin-bottom:10px; min-height:20px; } */
	.boxTyle { width:100%;align-items: center; display: grid; grid-template-columns: 200px 44% 2%; gap: 10px;min-height: 20px; margin-bottom: 5px;}
	#dynamicInput { padding-left:210px; overflow:hidden }
	#listPhoto { padding-left:210px; overflow:hidden }
	
	.errormsg label { color:#F00 }
	.errormsg input, .errormsg select, .errormsg textarea { border:#F00 solid 1px }
	
	.message {border-bottom:3px solid #84A7DB; border-top:3px solid #84A7DB; padding:10px 10px 10px 45px; margin-bottom:15px;  background: url(../images/notice-info.png) no-repeat 4px center #C3D2E5; font-weight:bold; color:#0055BB}
	
	.message2 {border-bottom:3px solid #DE7A7B; border-top:3px solid #DE7A7B; padding:10px 10px 10px 45px; margin-bottom:15px;  background: url(../images/notice-alert.png) no-repeat 4px center #E6C0C0; font-weight:bold; color:#CC0000}
	
	/* .paging {width:100%; overflow:hidden; } */
	.paging {align-items: center; display: flex; flex-direction: row-reverse;justify-content: left;flex-wrap: wrap; gap: 10px 10px; margin: 10px 0px;}
	.paging ul {flex-grow: 1;display: flex; flex-wrap: wrap;}
	.paging li {display: block;float: left;margin-bottom: 5px;margin-right: 5px;}
	.paging li a {border: 1px solid #CCCCCC;color: #555555;display: block;float: left;height: 15px;padding: 1px 5px;}
	.paging li a:hover {background: none repeat scroll 0 0 #CCCCCC;color: #FFFFFF;text-decoration: none;}
	.paging li .paging {color:#cc6600; text-decoration:none}
	.paging .current {font-weight: bold;padding: 2px 4px}
	.first{padding-top: 5px}
	.listBtn{/*float:right;*/ display: flex; gap: 5px; flex-grow: 1; justify-content: right;}
	.listBtn a{/*display:block; float:left*/ display: flex; justify-content: center; align-items: center; background:#555; color:#fff; font-weight:bold; padding:3px 7px;}
	.listBtn a:hover {text-decoration:none}
	
	/*********************/
	/* css 17.6.2025 */
	/* ==== start ===== */
	.tabContent{width:calc(100% - 20px); position:relative}
	/* .tabs{width:100%; overflow:hidden; margin-bottom:5px; border-bottom:#EF8710 solid 2px;}
	.tabs li{display:block; float:left; margin-right:2px;}
	.tabs li a{display:block; float:left; background:#555; color:#ccc; padding:5px 10px; font-weight:bold; border-radius: 5px 5px 0 0} */
	.tabs{display: flex; height: fit-content; z-index: 5;gap: 1px;}
	.tabs li{background:#555; padding:5px 10px; border-radius: 5px 5px 0 0}
	.tabs li a{color:#ccc; font-weight:bold; } 
	.tabs li a:hover{color:#fff; text-decoration:none}
	.tabs .current {background:#EF8710; }
	.tabs .current a{color:#fff}
	.tab-bar {display: flex; width: inherit; position: relative; border-bottom: 1px solid #EF8710; margin-bottom: 5px;}
	.btn-tab__mobile {display: none;  background: #ef8710; color: #fff; padding: 5px 0px; font-weight: bold; border: none;} 
	@media screen and (max-width: 1200px) {
		.tab-bar{ max-width: 200px; border-bottom: unset;}
		.tab-bar .tabs {  position: absolute;   top: 26px;  left: 0;  width: 100%;  background-color: black;
  opacity: 0;  transform: translateY(-10px);  max-height: 0;  overflow: hidden;  transition: all 0.3s ease;  pointer-events: none; flex-direction: column;}
	    .tab-bar .tabs.open {  opacity: 1;  transform: translateY(0);  max-height: 500px;  pointer-events: auto;}
		.btn-tab__mobile{flex-grow: 1; display: flex; justify-content: space-between; padding: 5px 10px; border-radius: 5px;        border-bottom: unset;}
		.btn-tab__mobile p{ color: white;}
		.btn-tab__mobile p:last-child{font-size: 10px;}
		.tabs li { border-radius: unset; width: 100%; display: flex; }
		.tabs li a {width: 100%; background-color: transparent; color: #fff; padding: unset;}
	}
	@media screen and (max-width: 800px) and (min-width: 426px) {
		.paging ul {display: flex; justify-content: left; flex-wrap: wrap;}
		.boxTyle {grid-template-columns: 100px 60% 2%;}
	}
	@media screen and (max-width: 430px){
		.paging ul {display: flex; justify-content: center; flex-wrap: wrap;}
		.listBtn {grid-template-columns: repeat(2, 1fr);}
		.tab-bar{margin-top: 10px;}
		.tab-bar{width: 100%;}
		.boxTyle {grid-template-columns: 100px 50% 2%;}
	}
	
	.search{ /*right:0;*/ display: flex; gap: 10px; }
	.search > form { display: flex; gap: 10px 10px; flex-wrap: wrap; flex-grow: 1; justify-content: right;}
	.search > form > fieldset { display: flex; flex-grow: 0; flex-wrap: wrap; gap: 5px 10px; }
	.search > form > fieldset > select { flex-grow: 1;}
	.search input{flex-grow: 1;}
	.search select{height:20px; padding:2px}
	.search .btnSearch{width:70px; border:none; margin:0; background:#EF8710; color:#fff; cursor:pointer; height:21px; font-weight:bold}
	
	.select2-container--default .select2-selection--single .select2-selection__arrow b{ left: 53% !important;}
	/* ==== end ===== */
	/*********************/
	.contType2{width:100%; overflow:hidden; margin-bottom:15px;}
	.contType2 h3{border-bottom:#ccc solid 2px; padding-bottom:5px;}
	.contType2 h3 a{float:right; font-weight:normal; font-size:0.912em}
	.infoType{width:47%; float:left; margin-right:5%}
	.infoType.last{margin-right:0}
	.infoType fieldset{width:100%; overflow:hidden; margin-bottom:10px;}
	.infoType fieldset input{width:200px; float:left; margin-right:5px; height:15px;}
	.infoType fieldset .btnSubmit{width:70px; border:none; margin:0; background:#555; color:#fff; cursor:pointer; height:21px}
	
	.tblType th{background:#C8CFD9; padding:7px 5px; border-bottom:#dedede solid 1px;}
	.tblType td{border-bottom:#dedede solid 1px;}
	.tblType .bgType td{background:#EBE9E9}
	
	/************context
	****************************/
	#contextual{width:200px; float:right; margin:0;}
	.contextInfo { border:#ebebeb solid 1px; border-top:none; padding:10px }
	#contextual h2 { font-size:13px; background:#ebebeb; padding:3px 10px; margin:0; border-radius: 0 10px 0 0; -moz-border-radius: 0 10px 0 0; -webkit-border-radius: 0 10px 0 0}
	.listStyle li {background:url(../images/ico_li.gif) 0 6px no-repeat; padding:0 0 0 10px; margin:0 0 7px 0}
	
	/************footer
	****************************/
	#footer{width:100%; padding:15px 0; text-align:center; background:#555}
	#footer ul{width:100%; overflow:hidden; margin-bottom:8px; text-align:center;}
	#footer li{display:inline; padding:0 7px; border-left:#828282 solid 1px}
	#footer li:first-child {border:none}
	#footer li a{color:#ccc}
	#footer li a:hover{color:#fff; text-decoration:none}
	#footer p{color:#ccc}
	
	/*------ User type */
	.statusStaff{}
	.statusAdmin{color:#009933}
	.statusFounder{color:#FF0000}
	.statusSiteStaff{font-weight:bold}
	.statusSiteAdmin{font-weight:bold; color:#009933}
	.statusSiteFounder{font-weight:bold; color: #FF0000}
	.statusEnabled{}
	.statusDisabled{color:#FF0000}
	.statusDeleted{font-weight:bold; color:#FF0000;}
	.statusDestroyed{font-weight:bold; color:#380606}
	.statusCompleted{font-weight:bold; color:#009900}
	.statusNotpayment{}
	.statusPayment{ color:#009900}
	.statusDelivery{color:#0023fb}
	.statusDelived{font-weight:bold; color:#0023fb}
	
	/*---- Order status ---- */
	.ORDER_STATUS_DISABLED{color:#FF0000}
	.ORDER_STATUS_CANCELED{color:#7b1113}
	.ORDER_STATUS_DELETED{font-weight:bold; color:#FF0000}
	.ORDER_STATUS_COMPLETED{}
	.ORDER_STATUS_PROCESSING{color:#4169e1}
	.ORDER_STATUS_NEW{color:#009900}

	/* Order payment ststus */
	.ORDER_PAYMENT_STATUS_PAID{color:#4169e1}
	.ORDER_PAYMENT_STATUS_PENDING{}
	.ORDER_PAYMENT_STAUS_OVER_DUE{color:#FF0000}
	.ORDER_PAYMENT_STATUS_FAIL{color:#7b1113}
	
	/* Order payment method */
	.ORDER_PAYMENT_METHOD_CASH{}
	.ORDER_PAYMENT_METHOD_TRANSFER{}
	.ORDER_PAYMENT_METHOD_COD{}
	.ORDER_PAYMENT_METHOD_NAPAS{}
	.ORDER_PAYMENT_METHOD_CC{}
	.ORDER_PAYMENT_METHOD_GW{}

	/* Order delivery status */
	.ORDER_DELIVERY_STATUS_PENDING{}
	.ORDER_DELIVERY_STATUS_COMPLETED{}
	.ORDER_DELIVERY_STATUS_PREPARING{color:#009900}
	.ORDER_DELIVERY_STATUS_SHIPPING{color:#4169e1}
	.ORDER_DELIVERY_STATUS_NOSTOCK{color:#FF0000}

	/* Order delivery status */
	.ORDER_DELIVERY_VENDOR_SELF{}
	.ORDER_DELIVERY_VENDOR_GRAB{}
	.ORDER_DELIVERY_VENDOR_XANHSM{}
	.ORDER_DELIVERY_VENDOR_VIETTEL{}
	.ORDER_DELIVERY_VENDOR_GHN{}


	/* items per page -----*/
	.infoType2{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; gap: 10px 10px; margin: 0px ;}
	.item-pages{float:left; overflow:hidden}
	.item-pages label{display:block; float:left; margin-right:10px; padding-top:3px}
	.item-pages select{float:left; margin-right:10px; width:60px; height:20px; padding:2px}
	.listCategory{float:right; overflow:hidden}
	.listCategory select{float:left; margin-right:5px; min-width:150px; height:20px; padding:2px}	
	.listCategory .btnSubmit2{width:70px; border:none; margin:0; background:#555; color:#fff; cursor:pointer; height:21px; font-weight:bold}
	@media screen and (max-width: 430px) {
		.infoType2{justify-content: center;}
		.listCategory{flex-grow: 1; display: flex; align-items: center; gap: 5px; justify-content: center;}
	}
	.btn input {background: none repeat scroll 0 0 #555555; border: medium none;color: #FFFFFF; cursor: pointer; font-weight: bold; height: 21px; /*margin: 0 5px 0 0;*/ width: 70px;}
	.datetime{color:#fff; text-align: right;}
	/* .datetime{color:#fff; float:right; padding: 8px 10px 0 10px} */
	.datetime strong{color:#fff;}
	.datetime a{color:#fff; text-decoration:underline}
	.underline{text-decoration:underline}
	.datetime, .listmenu{ flex-grow: 1;}
	
	/***** Form View Order ***********/
	.formView { width:100%; overflow:hidden }
	.formView p{ font-size:12px; margin-left:10px;}
	.formView strong{ color:#0330fd; text-transform:none}
	.formView label { width: 120px; float:left; margin-right:10px; text-align:left }
	.formView .infoCustomer{width:49%; float:left; border: 1px solid #CCCCCC}
	.formView .infoCustomer h3{margin:5px 0 10px 10px; }
	.formView .infoOrder{width:49%; float:right; border: 1px solid #CCCCCC}
	.formView .infoOrder h3{margin:5px 0 10px 10px}
	.formView .infoOrder table{ width:96%; margin:5px 0 10px 10px}
	.infoOrder td .last{ float:right}
	
	/* popup2 -------------*/
	.popup2{width:480px; position:absolute; left:0; top:-10000px; background:#fff; padding:10px; border:#EF8710 solid 2px;}
	.btnClose2{text-align:right; margin-bottom:10px; }
	.btnClose2 a{text-decoration:underline}
	.btnClose2 a:hover {text-decoration:none} 
	.popupInne2r{width:100%;}
	.popupInner2 ul{background:url(../images/bgd_line_04.gif) 0 100% repeat-x #fff; width:100%; overflow:hidden; border-bottom:#ddd solid 1px; border-top:#ddd solid 1px; height:23px; margin-bottom:15px;}
	.popupInner2 fieldset p{width:100%; display:block; overflow:hidden; margin-bottom:10px;}
	.popupInner2 fieldset label{display:block; float:left; width:100px; margin-right:5px;}
	.popupInner2 fieldset input{float:left; width:370px; border:#b5b5b5 solid 1px; border-top:#dbdadb solid 1px;}


	/******************/
	.contType3{width:100%; overflow:hidden;}
	.listFile{width:35%; float:left; margin-left:210px;}
	.listFile li{ border-bottom: 1px dotted #ccc; padding:10px 0}
	.listFile li a{color:#555}
	.listFile li a:hover{color:#CC6600}
	.listFile .btnDelete{float:right; margin-left:10px; text-decoration:underline}
	.listFile .btnDelete:hover{text-decoration:none;}
	
	.listPhoto{width:75%; float:left; margin-left:210px;}
	.listPhoto li{display:block; float:left; margin:0 10px 10px 0; position:relative; height:100px}
	.listPhoto .btnDelete{background:#000; position:absolute; right:0; bottom:0; padding:2px 8px; color:#fff;}
	
/* Multi upload*/	
	div.multiupload{
	border:1px outset gray;
	float:left;
	padding:3px;
	background:#eee;
	}
	div.multiupload div.list{
		border:1px inset gray;
		background: #fff;
	}
	div.multiupload div.list div.item{
		margin:1px;
		background: #eee;
	}
	div.multiupload div.list div.item:hover{
		background: #ccc;
	}
	div.multiupload div.list img{
		float:left;
		margin: 3px;
		cursor:pointer;
	}

/* icons */
/* .icons { width: 100%; overflow:hidden;  } 
.icons ul {width:100%; overflow: hidden; margin-bottom: 20px;}
.icons li { width: 80px; overflow:hidden; display:block; float:left; margin-right: 68px; }
.icons li a { color:#555; }
.icons li a:hover { color:#CC6600; text-decoration:none; }
.icons li.last { margin-right: 0; }

#content .icons li p { margin-bottom: 25px; } */
/* ===== css reponsive 13/6/2025 */
.icons ul{ display: flex; flex-wrap: wrap; gap: 25px 68px;}
.icons li a {display: flex; flex-direction: column; align-items: start; color:#555; }
.icons li br { display: none;}
.icons li a:hover { color:#CC6600; text-decoration:none; }
.icons li a img{ aspect-ratio: 80/80; object-position: center; object-fit: cover; width: 100%; height: auto;}

/* css 17/6/2025 */
/* start */
@media screen and (max-width: 430px) {
	.icons ul{gap: 25px 50px;}
	.icons{padding-top: 10px; gap: 30px;}
}
/* end */

.center { text-align:center; padding-left:21px; padding-bottom:5px}
.right {text-align:right}
.checkedoption{float: left;margin-right: 10px;margin-bottom: 10px;}
.checkedoption input{width: auto !important;}
.option-show{clear: both;}
.addsize img{width: 21px;}
.active-show{display: block !important;}
.option-show{display: none;}
.box-option{float: left;margin-bottom: 20px;}
.option-value input{width: auto !important}
.option-value{float: left;width: 100%;margin-bottom: 10px;}
.option-value span{margin-right: 30px;}

.qrcode{
	padding-left: 210px;
}
.qrcode h2{
	margin: 15px 0;
}
.qrcode img{
}
.qrcode span{	display: block;	margin: 15px 0;	font-size: 14px;	font-weight: bold;	color: #0055BB;}
.qrcode input{	float: unset !important;	height: 40px !important;	width: 200px;	border-radius: 5px;	font-size: 20px;margin-bottom: 20px;padding:  0 10px;}
/* Chrome, Safari, Edge, Opera */
.qrcode input::-webkit-outer-spin-button,
.qrcode input::-webkit-inner-spin-button {  -webkit-appearance: none;  margin: 0;}

/* Firefox */
.qrcode input[type=number] {  -moz-appearance: textfield;}

.popup-notification {	position: fixed;	top: 200px;	left: 50%;	transform: translateX(-50%);
	opacity: 0;	visibility: hidden;	pointer-events: none;	background-color: white;	border-radius: 4px;	padding: 15px;
	display: flex;	align-items: center;	z-index: 999999;	transition: all linear 0.3s;
  }
  .popup-notification__icon {	font-size: 32px;  }
  .popup-notification__content {	font-size: 20px;	font-family: mon-600;	margin-left: 10px;  }
  .popup-notification.success,
  .popup-notification.error {	top: 30px;	opacity: 1;	visibility: visible;  }
  .popup-notification.success .popup-notification__icon i{	color: green;  }
  .popup-notification.error .popup-notification__icon i{	color: #fd0000;  }
  .slick-track{	min-width: 100%;  }
  .main{	margin-top: 130px;  }

  .loader {	border: 10px solid #f3f3f3;	border-radius: 50%;	border-top: 10px solid #3498db;	width: 80px;
	height: 80px;	-webkit-animation: spin 2s linear infinite; /* Safari */	animation: spin 2s linear infinite;  }
  
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  /* PO */

.option-block {  margin-bottom: 4px;  padding-bottom: 10px;}

.option-block label,
.option-block input {  display: block;  width: 100%;  margin-bottom: 4px;  /* margin-right: 10px;*/} 

.input-error {  border: 2px solid red !important;  outline: none;}


/* css 12/6/2025 custom table list */
.table-scroll-x { position: relative;  overflow-x: auto; cursor: grab;}

.table-scroll-x >table > thead > tr > th:last-child{width: 120px;}

.table-scroll-x > table > tbody > tr > td > p > span { font-size: 12px !important; max-width: 410px; width: 100% !important;}

.table-scroll-x.dragging {  cursor: grabbing;}

.table-scroll-x > table > thead > tr > th.sticky-col {background-color: #c8cfd9;}

.table-scroll-x > table > tbody > tr > td.sticky-col {background-color: #ffff;}

.table-scroll-x table {   border-collapse: collapse; user-select: none; ;
  -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  pointer-events: auto;}
.table-scroll-x table.upsize{width: 100%;}
.table-scroll-x table.originalsize{width: max-content}

@media (max-width: 1680px) {
  .table-scroll-x {max-width: calc(100vw - 30px); width: 100%; overflow-x: auto;}

  /* .table-scroll-x table { min-width: 100vw;  } */
}

/* ======================= responsive ======================= */
@media screen and (max-width:513px) {
	/* .datetime{
		padding-top: 5px;
	} */
	#listmenu{
		flex-grow: 1;
	}
}

/* btn danh sách option  */
#toggle-options-btn{	width: fit-content !important;}
.function-container{ display: flex; gap: 10px; justify-content: right; padding-right: 10px;}

.remove-option-btn,
.add-value-btn{height: fit-content; margin: 0 !important;}

#wrapper{flex-grow: 1; display: flex; flex-direction: column;}

/* btn danh sách top menu */
.btn-topMenuBar{cursor: pointer;  border: none; ; background: transparent; display: none; gap: 20px;padding: 0px 15px 0px 0px; min-height: 32px; align-items: center;}
.btn-topMenuBar p{ color: white; font-size: 11px;}
.btn-topMenuBar svg{fill: white; aspect-ratio: 1 / 1 ; width: 12px; height: auto;}

@media screen and (max-width: 650px) {
	.btn-topMenuBar{display: flex;}
	
	#listmenu{
		position: absolute;
        top: 32px;
        left: 0;
        display: flex !important;
        flex-direction: column;
        z-index: 7;
        background-color: #555555;
        width: 100%;
		border-top: 1px solid rgba(255, 255, 255, 0.4);
		opacity: 0;
		max-height: 0;
  		overflow: hidden;
  		transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
	}

	.listBtn a {
    	flex-grow: 1;
	}

	#listmenu.show {
		max-height: 300px; 
 		 opacity: 1;
	}

	#listmenu li{
		justify-content: left;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	}

	
}

#add-option-btn{
	width: fit-content !important;
	min-width: 200px !important;
}