﻿<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizon | Xác thực OTP</title>
    <link rel="icon" type="image/png" href="./img/logo/logo-favicon.png">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- <link rel="stylesheet" href="../css/style.min.css"> -->
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/custom.css">
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" href="./css/utility.css"> 
</head>

<body>
    <header class="container-f" data-include="./component/header.html"></header>
    <main class="container-f flex flex-col center-hor">
        <section class="flex bg-gray container-f">
            <div class=" container-l nav-bar__container">
                <a href="javascript:void(0)" class="nav-bar__item">Trang chủ</a>
                <a href="javascript:void(0)" class="nav-bar__item">Đăng nhập</a>
            </div>
        </section>
        <section class="container-f flex center-ver container-padding auth-section__container">
            <div class="auth-section container-xxs flex flex-col gap-20 center-ver" id="section-login">
                <div class="auth-section__logo ">
                    <img src="../src/img/logo/logo-top.webp" alt="">
                </div>
                <h3 class="auth-title">Nhập mã xác nhận</h3>

                <form class="js-validate-form flex flex-col gap-20" data-form="otp">
                    <p>Mã xác nhận</p>

                    <div class="otp-group flex center-hor gap-20">
                        <input type="text" maxlength="1" inputmode="numeric" class="otp-input">
                        <input type="text" maxlength="1" inputmode="numeric" class="otp-input">
                        <input type="text" maxlength="1" inputmode="numeric" class="otp-input">
                        <input type="text" maxlength="1" inputmode="numeric" class="otp-input">
                        <input type="text" maxlength="1" inputmode="numeric" class="otp-input">
                        <input type="text" maxlength="1" inputmode="numeric" class="otp-input">
                    </div>

                    <small class="error-msg text-center"></small>

                    <button type="submit">Tạo mật khẩu mới</button>
                </form>
            </div>
        </section>
    </main>
    <footer class="container-f bg-white center-ver" data-include="./component/footer.html"></footer>
    <script defer type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script defer type="text/javascript" src="./js/frontend.js"></script>
</body>

</html>
