﻿<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizon | Đội ngũ</title>
    <link rel="icon" type="image/png" href="./img/logo/logo-favicon.png">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
   <!-- <link rel="stylesheet" href="../css/style.min.css"> -->
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/custom.css">
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" href="./css/utility.css"> 
</head>

<body>
    <header class="container-f" data-include="./component/header.html"></header>
    <main class="container-f flex flex-col center-hor">
        <section class="flex bg-gray container-f">
            <div class=" container-l nav-bar__container">
                <a href="javascript:void(0)" class="nav-bar__item">Trang chủ</a>
                <a href="javascript:void(0)" class="nav-bar__item">Đội ngũ</a>
            </div>
        </section>
        <section class="container-f container-padding flex center-hor">
            <div class="container-l flex flex-col gap-30">
                <h1 class="text-header-size bold uppercase">THÀNH VIÊN CỦA CHÚNG TÔI</h1>

                <div class="team-container flex flex-wrap gap-20">
                    <div class="team-container__item col-4 flex flex-col gap-10 text-center">
                        <img src="./img/team/nghia.jpg" alt="Trần Trọng Nghĩa"
                            class="team-container__img img-content">
                        <h3 class="team-container__name text-color-primary uppercase bold">TRẦN TRỌNG NGHĨA</h3>
                        <p class="team-container__role">Giám đốc Điều hành</p>
                    </div>

                    <div class="team-container__item col-4 flex flex-col gap-10 text-center">
                        <img src="./img/team/lan.jpg" alt="Nguyễn Thị Mai Lan"
                            class="team-container__img img-content">
                        <h3 class="team-container__name text-color-primary uppercase bold">NGUYỄN THỊ MAI LAN</h3>
                        <p class="team-container__role">Giám đốc Kiểm toán</p>
                    </div>

                    <div class="team-container__item col-4 flex flex-col gap-10 text-center">
                        <img src="./img/team/bach.jpg" alt="Lê Hoàng Bách"
                            class="team-container__img img-content">
                        <h3 class="team-container__name text-color-primary uppercase bold">LÊ HOÀNG BÁCH</h3>
                        <p class="team-container__role">Trưởng phòng Tư vấn Thuế</p>
                    </div>

                    <div class="team-container__item col-4 flex flex-col gap-10 text-center">
                        <img src="./img/team/ha.jpg" alt="Phạm Thị Thu Hà"
                            class="team-container__img img-content">
                        <h3 class="team-container__name text-color-primary uppercase bold">PHẠM THỊ THU HÀ</h3>
                        <p class="team-container__role">Giám đốc Dịch vụ Kế toán</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="container-f bg-white center-ver" data-include="./component/footer.html"></footer>
    <script defer type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script defer type="text/javascript" src="./js/frontend.js"></script>
</body>

</html>
