<div class="container-l flex jus-sb center-ver flex-wrap gap-30 w-100">
    <div class="advise-section__content flex flex-col gap-10 text-color-white flex-1" style="min-width: 300px;">
        <h2 class="bold uppercase text-color-white">
            Cần tư vấn giải pháp<br>cho dự án triển lãm của bạn?
        </h2>
        <p class="text-sm text-color-white">MPX sẵn sàng đồng hành từ khâu tư vấn, thiết kế<br>đến thi công
            và bàn giao hoàn
            thiện.</p>
    </div>
    <div class="flex gap-20 flex-wrap advise-section__function">
        <a href="/lien-he"
            class="btn-padding bg-primary text-color-white border-radius-5 bold uppercase flex center-ver gap-10 cursor-pointer border-none un-wrap">
            Liên hệ MPX <span>➔</span>
        </a>
        <a href="https://zalo.me/0966797494" target="_blank"
            class="btn-padding text-color-white border-radius-5 bold uppercase flex center-ver gap-10 cursor-pointer un-wrap">
            Nhận báo giá <span>➔</span>
        </a>
    </div>
</div>