<a href="#" class="col-4 gap-10 center-hor cta-item flex center-ver">
    <div href="#" class="cta-link flex center-ver center-hor bg-white-second">
        <img src="./img/icon/phone-bottom__bar.png" alt="Gọi điện">
    </div>
    <div class="cta-content flex flex-col">
        <strong>1800.0987</strong>
        <p>Hotline liên hệ</p>
    </div>
</a>

<a href="#" class="col-4 gap-10 center-hor cta-item flex center-ver">
    <div href="#" class="cta-link flex center-ver center-hor bg-white-second">
        <img src="./img/icon/book-bottom__bar.png" alt="Messenger">
    </div>
    <div class="cta-content flex flex-col">
        <strong>Tạo yêu cầu</strong>
        <p>Được xữ lý nhanh chóng</p>
    </div>
</a>

<a href="#" class="col-4 gap-10 center-hor cta-item flex center-ver">
    <div href="#" class="cta-link flex center-ver center-hor bg-white-second">
        <img src="./img/icon/zalo-bottom__bar.png" alt="Zalo">
    </div>
    <div class="cta-content flex flex-col">
        <strong>Chat Zalo</strong>
        <p>Trò chuyện ngay</p>
    </div>
</a>

<a href="#" class="col-4 gap-10 center-hor cta-item flex center-ver">
    <div href="#" target="_blank" class="cta-link flex center-ver center-hor bg-white-second">
        <img src="./img/icon/chat-bottom__bar.png" alt="Google Maps">
    </div>
    <div class="cta-content flex flex-col">
        <strong>Live chat</strong>
        <p>Hỗ trợ trực tuyến</p>
    </div>
</a>


