<div class="container-l flex flex-col gap-20">
    <div class="flex flex-col gap-10 center-hor">
        <h2 class="section-title text-center bold uppercase">Vì sao doanh nghiệp chọn MPX cho dự án triển
            lãm?</h2>
        <div class="title-border-bottom"></div>
    </div>
    <div class="js-slider-wrapper pos-rel expo-reasons-slider">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="expo-reasons__swiper js-slider-4cols fill-view swiper">
            <div class="swiper-wrapper">
                <article class="swiper-slide col-4">
                    <div
                        class="flex-1 expo-reason-card bg-white flex flex-col center-ver pos-rel border-radius-5  item-padding-30 gap-10">
                        <div class="expo-reason-card__icon ratio-1x1 ">
                            <img src="/templates/mpx/img/news/news.jpg" alt="Thi công đúng tiến độ" class="img-content">
                        </div>
                        <h3 class="bold uppercase text-center">Thi công đúng tiến độ</h3>
                        <p class="clamp-text text-center text-color-deactive text-sm">Đáp ứng lịch triển
                            khai tại hội
                            chợ, triển lãm, roadshow.</p>
                    </div>
                </article>
                <article class="swiper-slide col-4">
                    <div
                        class="flex-1 expo-reason-card bg-white flex flex-col center-ver pos-rel border-radius-5  item-padding-30 gap-10">
                        <div class="expo-reason-card__icon ratio-1x1 ">
                            <img src="/templates/mpx/img/news/news.jpg" alt="Hình ảnh thương hiệu đồng bộ"
                                class="img-content">
                        </div>
                        <h3 class="bold uppercase text-center">Hình ảnh thương hiệu đồng bộ</h3>
                        <p class="clamp-text text-center text-color-deactive text-sm">Bám sát nhận diện của
                            doanh nghiệp
                            và mục tiêu marketing.</p>
                    </div>
                </article>
                <article class="swiper-slide col-4">
                    <div
                        class="flex-1 expo-reason-card bg-white flex flex-col center-ver pos-rel border-radius-5  item-padding-30 gap-10">
                        <div class="expo-reason-card__icon ratio-1x1 ">
                            <img src="/templates/mpx/img/news/news.jpg" alt="Tối ưu vận hành" class="img-content">
                        </div>
                        <h3 class="bold uppercase text-center">Tối ưu vận hành</h3>
                        <p class="clamp-text text-center text-color-deactive text-sm">Dễ lắp ráp, dễ tháo
                            dỡ, tối ưu tái
                            sử dụng.</p>
                    </div>
                </article>
                <article class="swiper-slide col-4">
                    <div
                        class="flex-1 expo-reason-card bg-white flex flex-col center-ver pos-rel border-radius-5  item-padding-30 gap-10">
                        <div class="expo-reason-card__icon ratio-1x1 ">
                            <img src="/templates/mpx/img/news/news.jpg" alt="Có năng lực thực tế" class="img-content">
                        </div>
                        <h3 class="bold uppercase">Có năng lực thực tế</h3>
                        <p class="clamp-text text-color-deactive text-sm">Không chỉ thiết kế mà còn thi
                            công, vận hành và bàn giao.</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="flex center-hor mt-20">
        <p class="text-center text-color-black w-70">MPX không chỉ tập trung vào phần hình ảnh, mà còn chú
            trọng đến tính kỹ thuật, khả năng thi công thực tế và hiệu quả sử dụng trong từng dự án.</p>
    </div>

</div>