<div class="container-l flex flex-col gap-30 w-100">
    <div class="flex flex-col gap-10 center-hor">
        <h2 class="section-title text-center bold uppercase">Câu hỏi thường gặp</h2>
        <div class="title-border-bottom"></div>
    </div>
    <div class="expo-faq__grid flex flex-wrap gap-20">
        <div class="col-section-2 expo-faq__item bg-white custom-item__low border-radius-10 overflow-hidden item-padding-20">
            <div class="expo-faq__question flex jus-sb center-ver cursor-pointer">
                <h3 class="bold text-sm">Thời gian thi công bao lâu?</h3>
                <div class="expo-faq__icon text-color-primary bold text-header-size ">+</div>
            </div>
            <div class="expo-faq__answer">
                <p class="text-sm text-color-deactive">Thời gian thi công phụ thuộc vào quy
                    mô và độ phức tạp của gian hàng. Thông thường mất từ 2-5 ngày để hoàn thiện lắp đặt tại
                    điểm triển lãm.</p>
            </div>
        </div>
        <div class="col-section-2 expo-faq__item bg-white custom-item__low border-radius-10 overflow-hidden item-padding-20">
            <div class="expo-faq__question flex jus-sb center-ver cursor-pointer">
                <h3 class="bold text-sm">Có thiết kế theo yêu cầu riêng không?</h3>
                <div class="expo-faq__icon text-color-primary bold text-header-size ">+</div>
            </div>
            <div class="expo-faq__answer">
                <p class="text-sm text-color-deactive">Hoàn toàn có! Đội ngũ thiết kế của
                    MPX sẽ lên bản vẽ 3D chi tiết dựa trên ý tưởng, bộ nhận diện thương hiệu và ngân sách
                    của doanh nghiệp.</p>
            </div>
        </div>
        <div class="col-section-2 expo-faq__item bg-white custom-item__low border-radius-10 overflow-hidden item-padding-20">
            <div class="expo-faq__question flex jus-sb center-ver cursor-pointer">
                <h3 class="bold text-sm">MPX có hỗ trợ toàn quốc không?</h3>
                <div class="expo-faq__icon text-color-primary bold text-header-size ">+</div>
            </div>
            <div class="expo-faq__answer">
                <p class="text-sm text-color-deactive">MPX có năng lực triển khai các dự án
                    trên toàn quốc, đặc biệt là tại các trung tâm triển lãm lớn ở TP.HCM, Hà Nội và Đà Nẵng.
                </p>
            </div>
        </div>
        <div class="col-section-2 expo-faq__item bg-white custom-item__low border-radius-10 overflow-hidden item-padding-20">
            <div class="expo-faq__question flex jus-sb center-ver cursor-pointer">
                <h3 class="bold text-sm">Có hỗ trợ tháo dỡ sau sự kiện không?</h3>
                <div class="expo-faq__icon text-color-primary bold text-header-size ">+</div>
            </div>
            <div class="expo-faq__answer">
                <p class="text-sm text-color-deactive">Dịch vụ của MPX là trọn gói. Sau khi
                    sự kiện kết thúc, đội ngũ của chúng tôi sẽ tiến hành tháo dỡ nhanh chóng và hoàn trả mặt
                    bằng đúng quy định.</p>
            </div>
        </div>
    </div>
</div>