<div class="container-l footer-border__bottom footer-top__container flex center-hor flex-wrap gap-20 jus-sb">
    <div class="footer-top__content flex gap-20 flex-wrap ">
        <div class="contact-card flex center-ver gap-10 item-padding-10-20">
            <div class=" contact-card__icon bg-primary flex center-ver center-hor border-radius-15">
                <img src="./img/icon/phone-footer.svg" alt="Phone" class="img-icon">
            </div>
            <div class="flex flex-col">
                <span class="contact-title text-color-deactive">Gọi ngay cho chúng tôi</span>
                <a href="tel:+84942710025" class="un-wrap contact-content bold text-color-white ">(+84) 94
                    2710025</a>
            </div>
        </div>
        <div class="contact-card flex center-ver gap-10 item-padding-10-20">
            <div class=" contact-card__icon bg-primary flex center-ver center-hor border-radius-15">
                <img src="./img/icon/email-footer.svg" alt="Email" class="img-icon">
            </div>
            <div class="flex flex-col text-color-white">
                <span class="contact-title text-color-deactive">Email Cho Chúng Tôi 24/7</span>
                <a href="mailto:info@mpx.com"
                    class="un-wrap contact-content bold text-color-white ">info@mpx.com</a>
            </div>
        </div>
    </div>
    <div class="footer-top__content flex center-ver gap-10 item-padding-10-20">
        <div class=" contact-card__icon bg-primary flex center-ver center-hor border-radius-15">
            <img src="./img/icon/location-footer.svg" alt="Location" class="img-icon">
        </div>
        <div class="flex flex-col text-color-white">
            <span class="contact-title text-color-deactive">Địa Chỉ Trung Tâm</span>
            <span class="bold contact-content ">B8/255E, Ấp 2, Xã Phong Phú, Huyện Bình Chánh,
                TP.HCM, Việt Nam</span>
        </div>
    </div>
</div>
<div class="container-l footer-border__bottom footer-bottom__container flex center-hor flex-wrap gap-20 jus-sb">
    <div class="company-info flex flex-col gap-20">
        <div class="company-info__logo">
            <img src="./img/logo/logo-footer.webp" alt="MPX Logo" class="img-icon">
        </div>
        <p class="text-color-deactive line-height-16">
            MPX (Melody Productionworx) là thương hiệu tư vấn, thiết kế và lắp đặt sân khấu, thiết bị tự
            động nâng hạ chuyển động cho ngành giải trí và sự kiện giải trí và triển lãm.<br>
            B8/255E, Ấp 2, Xã Phong Phú, Huyện Bình Chánh, TP.HCM, Việt Nam
        </p>
        <p class="text-color-deactive">MST: 0312710206</p>
        <p class="text-color-deactive">Thứ 2 - Chủ nhật 08:00 - 18:00</p>
    </div>
    <div class="flex-wrap footer-menu__container flex gap-20 ">
        <div class="footer-menu flex flex-col gap-10 ">
            <h3 class="bold uppercase pos-rel text-color-white">Dịch Vụ</h3>
            <div class="title-border-bottom"></div>
            <div class="flex flex-col gap-10">
                <a href="javascript:void(0)" class="text-color-deactive">Thiết Kế Sân Khấu</a>
                <a href="javascript:void(0)" class="text-color-deactive">Lắp Đặt Sân Khấu</a>
                <a href="javascript:void(0)" class="text-color-deactive">Thiết Kế Sân Khấu</a>
                <a href="javascript:void(0)" class="text-color-deactive">Lắp Đặt Sân Khấu</a>
            </div>
        </div>
        <div class="footer-menu flex flex-col gap-10 ">
            <h3 class="bold uppercase  pos-rel text-color-white">Về MPX</h3>
            <div class="title-border-bottom"></div>
            <div class="flex flex-col gap-10">
                <a href="javascript:void(0)" class="text-color-deactive">Liên Hệ</a>
                <a href="javascript:void(0)" class="text-color-deactive">Giới Thiệu</a>
                <a href="javascript:void(0)" class="text-color-deactive">Chính Sách Bảo Mật</a>
            </div>
            <h3 class="bold uppercase pos-rel text-color-white">Tư Vấn Dịch Vụ</h3>
            <div class="title-border-bottom"></div>
            <a href="tel:0942710025" class="text-color-deactive">0942710025</a>
        </div>
        <div class="footer-menu flex flex-col gap-10 ">
            <h3 class="bold uppercase  pos-rel text-color-white">Kết Nối MPX</h3>
            <div class="title-border-bottom"></div>
            <div class="flex gap-10">
                <div class="social-icon bg-primary flex center-ver center-hor  pos-rel border-radius-5">
                    <img src="./img/icon/facebook-white.svg" alt="Facebook" class="img-icon">
                    <a href="javascript:void(0)" class="pos-abs cover-all" aria-label="Facebook"></a>
                </div>

                <div class="social-icon bg-primary flex center-ver center-hor  pos-rel border-radius-5">
                    <img src="./img/icon/twitter-white.svg" alt="Twitter" class="img-icon">
                    <a href="javascript:void(0)" class="pos-abs cover-all" aria-label="Twitter"></a>
                </div>

                <div class="social-icon bg-primary flex center-ver center-hor  pos-rel border-radius-5">
                    <img src="./img/icon/youtube-white.svg" alt="YouTube" class="img-icon">
                    <a href="javascript:void(0)" class="pos-abs cover-all" aria-label="YouTube"></a>
                </div>

                <div class="social-icon bg-primary flex center-ver center-hor  pos-rel border-radius-5">
                    <img src="./img/icon/instagram-white.svg" alt="Instagram" class="img-icon">
                    <a href="javascript:void(0)" class="pos-abs cover-all" aria-label="Instagram"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-f flex center-hor center-ver copyright-padding">
    <p class="text-center text-color-white">
        © 2026 Bản quyền nội dung thuộc về CÔNG TY TNHH MELODY PRODUCTIONWORX
    </p>
</div>

