<div class="container-f bg-primary ">
    <div class="container-l flex center-ver header-bar jus-sb">
        <div class="flex center-ver gap-10">
            <div class="top-menu__iconcontact flex center-ver gap-10">
                <div class="top-menu__iconcontact-item flex gap-10 item-padding-10">
                    <div class="top-menu__iconcontact-icon flex center-ver center-hor">
                        <img class="img-icon" src="./img/icon/phone.svg" alt="">
                    </div>
                    <p class="text-color-white">Hỗ trợ 24/7: (+84 94 2710025)</p>
                </div>
                <div class="top-menu__iconcontact-item flex gap-10 item-padding-10">
                    <div class="top-menu__iconcontact-icon flex center-ver center-hor">
                        <img class="img-icon" src="./img/icon/envelope.svg" alt="">
                    </div>
                    <p class="text-color-white">info@mpx.com</p>
                </div>
            </div>
        </div>
        <div class="top-menu__container center-ver pos-rel ">
            <a href="javascript:void(0)" class="text-color-white">English ▾</a>
            <div class="top-menu__list pos-abs bg-white z-index-1 item-padding-10 border-radius-5">
                <a href="#">Tiếng việt</a>
            </div>
        </div>
    </div>
</div>
<div class="container-l  flex pos-rel header-bottom jus-sb item-padding-10">
    <a href="../index.html" class="logo">
        <img title="logo trang chủ" src="./img/logo/logo-top.webp" alt="">
    </a>
    <div class="flex gap-20 header-bottom__menu center-ver">
        <div class="header-bottom__item">
            <a class="text-color-deactive uppercase bold" href="../index.html">Trang chủ</a>
        </div>
        <div class="header-bottom__item">
            <a class="text-color-deactive uppercase bold" href="../intro.html" data-match="intro">về mpx</a>
        </div>
        <div class="header-bottom__item">
            <a class="text-color-deactive uppercase bold" href="../service.html" data-match="service">Dịch vụ</a>
        </div>
        <div class="header-bottom__item">
            <a class="text-color-deactive uppercase bold" href="../solution.html" data-match="solution">Giải pháp</a>
        </div>
        <div class="header-bottom__item">
            <a class="text-color-deactive uppercase bold" href="../product.html" data-match="product">sản phẩm</a>
        </div>
        <div class="header-bottom__item">
            <a class="text-color-deactive uppercase bold" href="../casestudy.html" data-match="casestudy">case study</a>
        </div>
        <div class="header-bottom__item">
            <a class="text-color-deactive uppercase bold" href="../kien-thuc" data-match="knowledge">Kiến thức ngày</a>
        </div>
        <div class="header-bottom__item">
            <a class="text-color-deactive uppercase bold" href="../news.html" data-match="news">tin tức</a>
        </div>
        <div class="header-bottom__item">
            <a class="text-color-deactive uppercase bold" href="../contact.html" data-match="contact">liên hệ</a>
        </div>
    </div>
    <div class=" flex gap-20 header-bottom__function ">
        <div
            class="cursor-pointer btn-register__cal bg-primary header-bottom__res flex center-ver gap-20 btn-padding border-radius-5">
            <p class="uppercase text-color-white bold un-wrap">đặt lịch</p>
            <div class="header-bottom__icon">
                <img class="img-icon" src="./img/icon/arrow-right.svg" alt="icon-mui-ten">
            </div>
        </div>
        <button class="menu-container__bar center-ver">
            <img class="img-icon" src="./img/icon/bars.svg" alt="">
        </button>
    </div>
    <div class="m-menu flex flex-col pos-abs bg-white">
        <div class="m-menu__root">
            <div class="m-menu__item flex flex-col active">
                <a href="javascript:void(0)" class="text-color-deactive blod uppercase ">Trang chủ</a>
            </div>
            <div class="m-menu__item flex flex-col">
                <a href="javascript:void(0)" class="text-color-deactive blod uppercase">Về mpx</a>
            </div>
            <div class="m-menu__item flex flex-col">
                <a href="javascript:void(0)" class="text-color-deactive blod uppercase">Dịch vụ</a>
            </div>
            <div class="m-menu__item flex flex-col"><a href="javascript:void(0)"
                    class="text-color-deactive blod uppercase">giải pháp</a></div>
            <div class="m-menu__item flex flex-col"><a href="javascript:void(0)"
                    class="text-color-deactive blod uppercase">sản phẩm</a></div>
            <div class="m-menu__item flex flex-col"><a href="javascript:void(0)"
                    class="text-color-deactive blod uppercase">case study</a></div>
            <div class="m-menu__item flex flex-col"><a href="../kien-thuc"
                    class="text-color-deactive blod uppercase">kiến thức ngày</a></div>
            <div class="m-menu__item flex flex-col"><a href="javascript:void(0)"
                    class="text-color-deactive blod uppercase">tin tức</a></div>
            <div class="m-menu__item flex flex-col"><a href="javascript:void(0)"
                    class="text-color-deactive blod uppercase">liên hệ</a></div>
        </div>
    </div>
</div>