<div class="sidebar-widget flex flex-col gap-20">
    <div class="archive-header flex flex-col gap-10">
        <h3 class="widget-title bold uppercase">Công cụ tìm kiếm</h3>
        <div class="title-border-bottom"></div>
    </div>
    <div class="widget-search flex gap-20 item-padding-10-20 border-radius-5 ">
        <input type="text" placeholder="Nhập từ khóa..." class="fill-view border-none">
        <button class="search-submit">
            <p>⌕</p>
        </button>
    </div>
</div>

<div class="sidebar-widget flex flex-col gap-20">
    <div class="archive-header flex flex-col gap-10">
        <h3 class="widget-title bold uppercase">Danh mục sản phẩm</h3>
        <div class="title-border-bottom"></div>
    </div>
    <div class="widget-list flex flex-col gap-10">
        <a href="javascript:void(0)" class="">Tạo mã CSR trên cPanel</a>
        <a href="javascript:void(0)" class="">Hướng dẫn tạo CSR trên cPanel</a>
        <a href="javascript:void(0)" class="">Khắc phục lỗi cài đặt SSL</a>
        <a href="javascript:void(0)" class="">Xữ lý lỗi SSL thường gặp trên cPanel</a>
    </div>
</div>

<div class="sidebar-widget flex flex-col gap-20">
    <div class="archive-header flex flex-col gap-10">
        <h3 class="widget-title bold uppercase">Bài viết gần đây</h3>
        <div class="title-border-bottom"></div>
    </div>
    <div class="widget-posts flex  gap-20">
        <article class="post-mini flex gap-10 center-ver pos-rel  border-radius-5 overflow-hidden">
            <div class="post-mini__img border-radius-5 overflow-hidden">
                <img src="./img/news/news.jpg" class="img-content">
            </div>
            <div class="post-mini__info flex flex-col gap-10">
                <h4 class="post-mini__title bold clamp-text">Đổi Mới Vận Hành Sân Khấu – Khi Công
                    Nghệ Gặp Nghệ Thuật
                </h4>
                <div class="flex gap-20">
                    <div class="news-item__date flex gap-10">
                        <img class="img-icon" src="./img/icon/clock.svg" alt="">
                        <p>17/4/2026</p>
                    </div>
                    <div class="news-item__view flex gap-10">
                        <img class="img-icon" src="./img/icon/eye.svg" alt="">
                        <p>500</p>
                    </div>
                </div>
            </div>
            <a href="../news-detail.html" class="widget-posts__link pos-abs"></a>
        </article>
        <article class="post-mini flex gap-10 center-ver pos-rel  border-radius-5 overflow-hidden">
            <div class="post-mini__img border-radius-5 overflow-hidden">
                <img src="./img/news/news.jpg" class="img-content">
            </div>
            <div class="post-mini__info flex flex-col gap-10">
                <h4 class="post-mini__title bold clamp-text">Đổi Mới Vận Hành Sân Khấu – Khi Công
                    Nghệ Gặp Nghệ Thuật
                </h4>
                <div class="flex gap-20">
                    <div class="news-item__date flex gap-10">
                        <img class="img-icon" src="./img/icon/clock.svg" alt="">
                        <p>17/4/2026</p>
                    </div>
                    <div class="news-item__view flex gap-10">
                        <img class="img-icon" src="./img/icon/eye.svg" alt="">
                        <p>500</p>
                    </div>
                </div>
            </div>
            <a href="../news-detail.html" class="widget-posts__link pos-abs"></a>
        </article>
        <article class="post-mini flex gap-10 center-ver pos-rel  border-radius-5 overflow-hidden">
            <div class="post-mini__img border-radius-5 overflow-hidden">
                <img src="./img/news/news.jpg" class="img-content">
            </div>
            <div class="post-mini__info flex flex-col gap-10">
                <h4 class="post-mini__title bold clamp-text">Đổi Mới Vận Hành Sân Khấu – Khi Công
                    Nghệ Gặp Nghệ Thuật
                </h4>
                <div class="flex gap-20">
                    <div class="news-item__date flex gap-10">
                        <img class="img-icon" src="./img/icon/clock.svg" alt="">
                        <p>17/4/2026</p>
                    </div>
                    <div class="news-item__view flex gap-10">
                        <img class="img-icon" src="./img/icon/eye.svg" alt="">
                        <p>500</p>
                    </div>
                </div>
            </div>
            <a href="../news-detail.html" class="widget-posts__link pos-abs"></a>
        </article>
        <article class="post-mini flex gap-10 center-ver pos-rel  border-radius-5 overflow-hidden">
            <div class="post-mini__img border-radius-5 overflow-hidden">
                <img src="./img/news/news.jpg" class="img-content">
            </div>
            <div class="post-mini__info flex flex-col gap-10">
                <h4 class="post-mini__title bold clamp-text">Đổi Mới Vận Hành Sân Khấu – Khi Công
                    Nghệ Gặp Nghệ Thuật
                </h4>
                <div class="flex gap-20">
                    <div class="news-item__date flex gap-10">
                        <img class="img-icon" src="./img/icon/clock.svg" alt="">
                        <p>17/4/2026</p>
                    </div>
                    <div class="news-item__view flex gap-10">
                        <img class="img-icon" src="./img/icon/eye.svg" alt="">
                        <p>500</p>
                    </div>
                </div>
            </div>
            <a href="../news-detail.html" class="widget-posts__link pos-abs"></a>
        </article>
    </div>
</div>
<div class="sidebar-widget flex flex-col gap-20">
    <div class="archive-header flex flex-col gap-10">
        <h3 class="widget-title bold uppercase">Dịch vụ phổ biến</h3>
        <div class="title-border-bottom"></div>
    </div>
    <div class="widget-service flex  gap-20">
        <article class="service-mini flex gap-10 center-ver pos-rel  border-radius-15 overflow-hidden">
            <div class="service-mini__img border-radius-5 overflow-hidden">
                <img src="./img/icon/click-icon.svg" class="img-content">
            </div>
            <div class="service-mini__info flex flex-col ">
                <h4 class="service-mini__title bold clamp-text">Đổi Mới Vận Hành Sân Khấu – Khi Công
                    Nghệ Gặp Nghệ Thuật
                </h4>
                <p class="service-mini__desc clamp-text">Chiến lược tích hợp toàn diện: AI SEO, Content Marketing đa
                    thị trường, Email Marketing cá nhân hóa, Remarketing thông minh, Paid Ads và
                    Conversion Optimization. Xây dựng hệ thống tự động thu hút và nuôi dưỡng khách
                    hàng tiềm năng xuyên suốt hành trình.</p>
            </div>
            <a href="../service-detail.html" class="widget-posts__link pos-abs"></a>
        </article>
        <article class="service-mini flex gap-10 center-ver pos-rel  border-radius-15 overflow-hidden">
            <div class="service-mini__img border-radius-5 overflow-hidden">
                <img src="./img/icon/click-icon.svg" class="img-content">
            </div>
            <div class="service-mini__info flex flex-col">
                <h4 class="service-mini__title bold clamp-text">Đổi Mới Vận Hành Sân Khấu – Khi Công
                    Nghệ Gặp Nghệ Thuật
                </h4>
                <p class="service-mini__desc clamp-text">Chiến lược tích hợp toàn diện: AI SEO, Content Marketing đa
                    thị trường, Email Marketing cá nhân hóa, Remarketing thông minh, Paid Ads và
                    Conversion Optimization. Xây dựng hệ thống tự động thu hút và nuôi dưỡng khách
                    hàng tiềm năng xuyên suốt hành trình.</p>
            </div>
            <a href="../service-detail.html" class="widget-posts__link pos-abs"></a>
        </article>
        <article class="service-mini flex gap-10 center-ver pos-rel  border-radius-15 overflow-hidden">
            <div class="service-mini__img border-radius-5 overflow-hidden">
                <img src="./img/icon/click-icon.svg" class="img-content">
            </div>
            <div class="service-mini__info flex flex-col">
                <h4 class="service-mini__title bold clamp-text">Đổi Mới Vận Hành Sân Khấu – Khi Công
                    Nghệ Gặp Nghệ Thuật
                </h4>
                <p class="service-mini__desc clamp-text">Chiến lược tích hợp toàn diện: AI SEO, Content Marketing đa
                    thị trường, Email Marketing cá nhân hóa, Remarketing thông minh, Paid Ads và
                    Conversion Optimization. Xây dựng hệ thống tự động thu hút và nuôi dưỡng khách
                    hàng tiềm năng xuyên suốt hành trình.</p>
            </div>
            <a href="../service-detail.html" class="widget-posts__link pos-abs"></a>
        </article>
        <article class="service-mini flex gap-10 center-ver pos-rel  border-radius-15 overflow-hidden">
            <div class="service-mini__img border-radius-5 overflow-hidden">
                <img src="./img/icon/click-icon.svg" class="img-content">
            </div>
            <div class="service-mini__info flex flex-col">
                <h4 class="service-mini__title bold clamp-text">Đổi Mới Vận Hành Sân Khấu – Khi Công
                    Nghệ Gặp Nghệ Thuật
                </h4>
                <p class="service-mini__desc clamp-text">Chiến lược tích hợp toàn diện: AI SEO, Content Marketing đa
                    thị trường, Email Marketing cá nhân hóa, Remarketing thông minh, Paid Ads và
                    Conversion Optimization. Xây dựng hệ thống tự động thu hút và nuôi dưỡng khách
                    hàng tiềm năng xuyên suốt hành trình.</p>
            </div>
            <a href="../service-detail.html" class="widget-posts__link pos-abs"></a>
        </article>
    </div>
</div>